.jsblocker-placeholder {
	background: url(../images/linen.png) !important;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.7) !important;
	margin: 0 !important;
	line-height: 1 !important;
	overflow: hidden !important;
	cursor: default !important;
	outline: 0 solid #888 !important;
	text-align: center !important;
	font-style: normal !important;
	text-decoration: none !important;
	opacity: 0.55 !important;
}
	.jsblocker-placeholder * {
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important;
		color: #444 !important;
		text-shadow: 0 1px 0 rgba(255,255,255,0.4) !important;
		cursor: default !important;
		padding: 0 !important;
		line-height: 1 !important;
		text-align: center !important;
		margin-bottom: 0 !important;
		margin-right: 0 !important;
		border: none !important;
		background: none !important;
		font-weight: normal !important;
	}
	.jsblocker-placeholder:hover {
		opacity: 0.9 !important;
		background: url(../images/linen.png) !important;
	}
	.jsblocker-placeholder:active {
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.05), rgba(255,255,255,0.3)), url(../images/linen.png) !important;
		opacity: 1 !important;
	}
	.jsblocker-node-wrap {
		position: relative !important;
		top: 50% !important;
		margin-left: 0 !important;
	}
	.jsblocker-node,
	.jsblocker-node-two {
		margin-top: -3px !important;
		display: inline-block !important;
		position: static;
		font-weight: bold !important;
		color: rgba(0,0,0,0.7) !important;
		-webkit-text-select: none !important;
		overflow: visible !important;
	}
		.jsblocker-node-two {
			top: 1px !important;
			left: 50% !important;
			position: absolute !important;
			color: rgba(255,255,255,0.9) !important;
		}
		.jsblocker-placeholder:hover .jsblocker-node-wrap {
			opacity: 0.2 !important;
		}
	.jsblocker-url {
		margin-left: 0 !important;
		top: 7px !important;
		margin-top: 0 !important;
		position: relative !important;
		visibility: hidden !important;
		font-size: 12px !important;
	}
		.jsblocker-placeholder:hover .jsblocker-url {
			visibility: visible !important;
		}
	.jsblocker-host {
		margin-left: 0 !important;
		margin-top: 0 !important;
		color: #333 !important;
	}
	.jsblocker-path,
	.jsblocker-protocol {
		margin-left: 0 !important;
		margin-top: 0 !important;
		color: #888 !important;
	}

.jsblocker-alert {
	position: fixed !important;
	top: 0;
	right: 0;
	width: 310px !important;
	border: none !important;
	opacity: 0;
	padding-bottom: 4px !important;
	overflow: hidden !important;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important;
	color: #3f3f3f !important;
}
	.jsblocker-alert p {
		margin-bottom: 8px;
	}
	.jsblocker-alert-inner {
		-webkit-transform: perspective(500px) rotateX(-67deg);
		-webkit-transition: -webkit-transform 0.45s ease-out, -webkit-filter 2s;
		background: -webkit-linear-gradient(top, #ffffff, #f0f0f0) !important;
		margin: 10px 15px 16px !important;
		padding: 7px 5px 10px 10px !important;
		z-index: 0 !important;
		-webkit-border-radius: 5px !important;
		box-shadow: 0 5px 15px rgba(0,0,0,0.4) !important;
		border: 1px solid rgba(0,0,0,0.45) !important;
		border-left-color: rgba(0,0,0,0.32) !important;
		border-right-color: rgba(0,0,0,0.32) !important;
		border-top-color: rgba(0,0,0,0.23) !important;
		overflow: hidden !important;
		opacity: 0.97 !important;
		position: relative !important;
		right: 0;
	}
		.jsblocker-alert-inner textarea {
			width: 246px !important;
			height: 130px !important;
			margin: 3px 0 0 3px !important;
			padding: 2px !important;
			border: 1px solid #888 !important;
			background: #fff !important;
		}
	.jsblocker-close {
		opacity: 0;
		position: absolute !important;
		top: 3px !important;
		right: 3px !important;
		-webkit-transition: opacity 0.15s !important;
		-webkit-user-select: none !important;
		width: 16px !important;
		height: 15px !important;
		background: url(../images/close-button.png) no-repeat left top !important;
		background-size: 32px 15px;
	}
		.jsblocker-close:hover {
			opacity: 1 !important;
			color: #fff !important;
		}
		.jsblocker-close:active {
			background: url(../images/close-button.png) no-repeat -15px top !important;
			background-size: 32px 15px;
		}
	.jsblocker-alert-text {
		position: relative !important;
		z-index: 2 !important;
		overflow: auto !important;
		max-height: 200px !important;
		font-size: 8pt !important;
		text-shadow: 0 1px 0 rgba(255,255,255,1) !important;
		line-height: 1.4 !important;
	}
	.jsblocker-alert-bg {
		margin-bottom: 5px !important;
		font-size: 9pt !important;
		font-weight: bold !important;
		color: #3c3c3c !important;
		text-shadow: 0 1px 0 rgba(255,255,255,0.3) !important;
		-webkit-user-select: none !important;
		cursor: default !important;
		z-index: 1 !important;
	}
