.jsblocker-placeholder {
	background: #eee !important;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.45) !important;
	margin: 0 !important;
	line-height: 1 !important;
	overflow: hidden !important;
	cursor: default !important;
	outline: 0 solid #888 !important;
	text-align: center !important;
	font-style: normal !important;
	text-decoration: none !important;
	opacity: 0.55 !important;
}
	.jsblocker-placeholder * {
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important;
		color: #444 !important;
		text-shadow: 0 1px 0 rgba(255,255,255,0.4) !important;
		cursor: default !important;
		padding: 0 !important;
		line-height: 1 !important;
		text-align: center !important;
		margin-bottom: 0 !important;
		margin-right: 0 !important;
		border: none !important;
		background: none !important;
		font-weight: normal !important;
	}
	.jsblocker-placeholder:hover {
		opacity: 0.9 !important;
		background: #eee !important;
	}
	.jsblocker-placeholder:active {
		background: #ddd !important;
		opacity: 1 !important;
	}
	.jsblocker-node-wrap {
		position: relative !important;
		top: 50% !important;
		margin-left: 0 !important;
	}
	.jsblocker-node {
		margin-top: -3px !important;
		display: inline-block !important;
		position: static;
		font-weight: bold !important;
		-webkit-text-select: none !important;
		overflow: visible !important;
		line-height: 1.3 !important;
		color: rgba(0,0,0,0.35) !important;
		text-shadow: 0 1px 1px #fff, 0 0 0 rgba(0,0,0,0.5), 0 0 1px #fff !important;
	}
		.jsblocker-placeholder:hover .jsblocker-node-wrap,
		.jsblocker-placeholder:active .jsblocker-node-wrap {
			opacity: 0.2 !important;
		}
	.jsblocker-url {
		margin-left: 0 !important;
		top: 15px !important;
		position: absolute !important;
		text-align: center !important;
		width: 100% !important;
		visibility: hidden !important;
		font-size: 12px !important;
	}
		.jsblocker-placeholder:hover .jsblocker-url,
		.jsblocker-placeholder:active .jsblocker-url {
			visibility: visible !important;
		}
	.jsblocker-host {
		margin-left: 0 !important;
		margin-top: 0 !important;
		color: #222 !important;
	}
	.jsblocker-path,
	.jsblocker-protocol {
		margin-left: 0 !important;
		margin-top: 0 !important;
		color: #888 !important;
	}

.jsb-alert {
	color: initial !important;
	font: initial !important;
	font-size: 8pt !important;
}

.jsb-alert {
	position: fixed !important;
	top: 0;
	right: 0;
	width: 330px !important;
	border: none !important;
	opacity: 0;
	padding-bottom: 4px !important;
	overflow: hidden !important;
}
	.jsb-alert ::-webkit-scrollbar {
		width: 7px !important;
		height: 7px !important;
	}
	.jsb-alert ::-webkit-scrollbar-corner {
		background: transparent !important;
	}
	.jsb-alert ::-webkit-scrollbar-track {
		-webkit-border-radius: 5px !important;
		border-top: 1px solid rgba(0,0,0,0.15) !important;
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.02)) !important;
	}
	.jsb-alert ::-webkit-scrollbar-track:vertical {
		border-top: none !important;
		border-left: 1px solid rgba(0,0,0,0.15) !important;
		background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.02)) !important;
	}
	.jsb-alert ::-webkit-scrollbar-thumb {
		-webkit-border-radius: 5px !important;
		border-top: 1px solid rgba(0,0,0,0.01) !important;
		background: -webkit-linear-gradient(top, #bbb, #999) !important;
	}
	.jsb-alert ::-webkit-scrollbar-thumb:vertical {
		border-left: 1px solid rgba(0,0,0,0.01) !important;
		background: -webkit-linear-gradient(180deg, #999, #bbb) !important;
	}
	.jsb-alert input[disabled],
	.jsb-alert select[disabled],
	.jsb-alert button[disabled] {
		opacity: 0.5 !important;
		pointer-events: none !important;
	}
	.jsb-alert input,
	.jsb-alert select,
	.jsb-alert button,
	.jsb-alert textarea {
		background: rgba(255,255,255,0) !important;
		border: none !important;
		-webkit-border-radius: 4px !important;
		color: #0069de !important;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5) !important;
		border: 1px solid rgba(0,0,0,0.02) !important;
		width: auto !important;
		cursor: default !important;
		padding: 2px 6px 3px !important;
	}
	.jsb-alert input:not([type="checkbox"]):not([type="radio"]):focus,
	.jsb-alert select:focus,
	.jsb-alert button:focus,
	.jsb-alert textarea:focus {
		outline: none !important;
	}
	.jsb-alert input:not([type="checkbox"]):not([type="radio"]):not([type="text"]):not([type="search"]):focus,
	.jsb-alert select:focus,
	.jsb-alert button:focus {
		border-color: rgb(20,158,255) !important;
	}
	.jsb-alert input[type="button"]:not(.delete):active,
	.jsb-alert button:not(.delete):active {
		background: rgba(0,0,0,0.015) !important;
		color: #094e96 !important;
		-webkit-animation: none !important;
	}
	.jsb-alert input[type="text"],
	.jsb-alert input[type="search"] {
		padding: 2px !important;
	}
	.jsb-alert input[type="text"],
	.jsb-alert input[type="search"],
	.jsb-alert textarea {
		-webkit-border-radius: 0 !important;
		background: #fff !important;
		border: 1px solid rgba(0,0,0,0.12) !important;
		border-bottom-color: #a7c1d9 !important;
		box-shadow: none !important;
		color: #111 !important;
		font-size: 8pt !important;
	}
	.jsb-alert input[type="text"]:focus,
	.jsb-alert input[type="search"]:focus,
	.jsb-alert textarea:focus {
		border-color: rgba(0,0,0,0.17) !important;
		border-bottom-color: #0069de !important;
		box-shadow: none !important;
	}
	.jsb-alert * {
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important;
		color: #3a3a3a !important;
		font-size: 8pt !important;
		font-weight: normal !important;
	}
	.jsb-alert p {
		margin-bottom: 8px;
	}
	.jsb-alert-inner {
		-webkit-transform: perspective(500px) rotateX(-67deg);
		-webkit-transition: -webkit-transform 0.45s ease-out, -webkit-filter 2s;
		background: -webkit-linear-gradient(top, #ffffff, #fafafa) !important;
		background-size: auto auto !important;
		margin: 10px 10px 16px !important;
		padding: 7px 5px 10px 10px !important;
		z-index: 0 !important;
		-webkit-border-radius: 5px !important;
		box-shadow: 0 0 6px rgba(0,0,0,0.14) !important;
		border: 1px solid rgba(160,160,160,0.55) !important;
		overflow: hidden !important;
		opacity: 1 !important;
		position: relative !important;
		right: 0;
	}
		.jsb-alert-inner textarea:not(.jsb-ajax-rule-input) {
			width: 266px !important;
			min-width: 266px !important;
			max-width: 266px !important;
			height: 130px !important;
			min-height: 130px !important;
			max-height: 130px !important;
			margin: 3px 0 0 3px !important;
			padding: 2px !important;
			border: 1px solid #888 !important;
			background: #fff !important;
		}
	input.jsblocker-close {
		position: absolute !important;
		top: 4px !important;
		right: 4px !important;
		color: #777 !important;
		background: -webkit-linear-gradient(top, #ffffff, #f9f9f9) !important;
	}
		.jsb-alert input[type="button"].jsblocker-close:active {
			color: #666 !important;
		}
	.jsb-alert-text {
		margin-top: 6px !important;
		position: relative !important;
		z-index: 2 !important;
		overflow: auto !important;
		max-height: 200px !important;
		font-size: 8pt !important;
		text-shadow: 0 1px 0 rgba(255,255,255,1) !important;
	}
		.jsb-alert-text,
		.jsb-alert-text * {
			line-height: 1.4 !important;
		}
	.jsb-alert-text .jsb-divider {
		color: #ccc !important;
	}
	.jsb-alert-text p {
		margin: 1px 0 3px !important;
		padding: 0 !important;
	}
		.jsb-alert-text .jsb-info {
			max-height: 135px !important;
			overflow: auto !important;
		}
		.jsb-alert-text p.jsb-info:last-child {
			margin-top: 5px !important;
			margin-bottom: 0 !important;
		}
	.jsb-alert-text .jsb-allow {
		color: #008913 !important;
	}
	.jsb-alert-text .jsb-block {
		color: #920101 !important;
	}
	.jsb-alert-text a {
		cursor: pointer !important;
		color: #0064E3 !important;
		text-decoration: none !important;
		font-weight: normal !important;
	}
		.jsb-alert-text a:hover {
			color: #0B37B4 !important;
		}
	.jsb-alert-bg {
		margin-bottom: 5px !important;
		font-size: 9pt !important;
		font-weight: bold !important;
		color: #3c3c3c !important;
		text-shadow: 0 1px 0 rgba(255,255,255,0.3) !important;
		-webkit-user-select: none !important;
		cursor: default !important;
		z-index: 1 !important;
		overflow: hidden !important;
		max-width: 245px !important;
	}
	.jsb-light {
		color: #666 !important;
	}
	.jsb-alert-bg .jsb-light {
		display: inline-block !important;
		padding-left: 6px !important;
	}
	.jsb-alert-text .jsb-bold,
	.jsb-alert-text b {
		font-weight: bold !important;
	}
	.jsb-alert-text .jsb-label {
		color: #666 !important;
	}
	.jsb-alert-text .jsb-indent {
		display: inline-block !important;
		padding-left: 6px !important;
	}
	.jsb-alert-text select {
		font-size: 8pt !important;
		border: 1px solid rgba(0,0,0,0.09) !important;
		-webkit-appearance: none !important;
		padding: 1px 16px 2px 6px !important;
		color: #3A3A3A !important;
		-webkit-border-radius: 3px !important;
		background: url(../images/select-arrows.png) no-repeat right 1px, -webkit-linear-gradient(top, rgb(255,255,255), rgb(249,249,249)) !important;
		background-size: 20px 16px, auto auto !important;
	}
		.jsb-alert-text select:active {
			background: url(../images/select-arrows.png) no-repeat right 1px, -webkit-linear-gradient(top, rgb(249,249,249), rgb(255,255,255)) !important;
			background-size: 20px 16px, auto auto !important;
		}
	.jsb-alert-text textarea.jsb-ajax-rule-input {
		margin-bottom: -8px !important;
		margin-left: 0px !important;
		width: 179px !important;
		min-width: 179px !important;
		height: 19px !important;
		min-height: 19px !important;
		max-height: 19px !important;
		overflow-x: scroll !important;
		overflow-y: hidden !important;
		resize: none !important;
		display: inline-block !important;
		border-bottom-color: #f3d3c0 !important;
		padding: 1px 2px 1px !important;
		box-sizing: initial !important;
		vertical-align: inherit !important;
	}
		.jsb-alert-text textarea.jsb-ajax-rule-input:focus {
			border-bottom-color: #fb6808 !important;
		}
		.jsb-alert-text .jsb-ajax-rule-input::-webkit-scrollbar {
			height: 3px !important;
		}
	.jsb-alert-text .jsb-create-rule {
		color: #fb6808 !important;
	}
	.jsb-alert-text .jsb-ajax-rule-save {
		margin-left: 1px !important;
		color: #fb6808 !important;
		font-weight: bold !important;
	}
	.jsb-alert-text .jsb-hide {
		display: none !important;
	}
	.jsb-alert-text .jsb-ajax-rule-cancel {
		display: inline-block !important;
		margin-top: 5px !important;
	}
	.jsb-ajax-add select {
		margin-bottom: 4px !important;
		margin-top: 3px !important;
	}
