body,
body.windows {
	background: rgba(200,200,200,0.8) url(../images/texture.png) left top repeat;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

input,
select,
button,
textarea {
	background: url(../images/texture.png) left top repeat, -webkit-linear-gradient(top, #F2F2F2, #ACACAC) left top;
	border: 1px solid #777;
	color: #2C2C2C;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
	input[type="button"]:active,
	button:active {
		border-color: #777 !important;
		background: url(../images/texture.png) left top repeat, -webkit-linear-gradient(top, #ACACAC, #E7E7E7) left top;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,0.5);
	}
	input[type="text"],
	input[type="search"],
	textarea {
		border: 1px solid #A4A4A4;
		background: -webkit-linear-gradient(top, #f3f3f3, #FbFbFb);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.15), 0 1px 0 #eee;
	}
	select {
		background: url(../images/select-arrows.png) no-repeat right top, url(../images/texture.png) left top repeat, -webkit-linear-gradient(top, #F2F2F2, #BBB) left top;
	}
		select:active {
			background: url(../images/select-arrows.png) no-repeat right top, url(../images/texture.png) left top repeat, -webkit-linear-gradient(top, #CCC, #E7E7E7) left top;
		}

#disclaimer input {
	border-color: #979797;
}

.filter-bar,
#find-bar {
	background: url(../images/texture.png) left top repeat, -webkit-linear-gradient(top, #EEE, #CCC);
	border-bottom-color: #AAA;
}

p.misc-info select {
	color: #444;
	background: url(../images/select-arrows.png) no-repeat 100% top, url(../images/texture.png) left top repeat, -webkit-linear-gradient(top, #F2F2F2, #BBB) left top;
}
	p.misc-info select:active {
		background: url(../images/select-arrows.png) no-repeat 100% top, url(../images/texture.png) left top repeat, -webkit-linear-gradient(top, #CCC, #E7E7E7) left top;
	}
ul li span.https,
select.https {
	color: #815808;
}
ul li small {
	color: #555;
}

@-webkit-keyframes redPulseLion {
	0% {
		background-color: rgba(240,50,0,0.8);
		box-shadow: 0 0 5px rgba(255,0,0,1);
	}
	100% {
		background-color: rgba(190,30,0,0.8);
		box-shadow: 0 0 1px rgba(255,0,0,0.8);
	}
}
input[type="button"].confirm-click,
button.confirm-click {
	color: #fff;
	border: 1px solid #883A3D !important;
	background-image: -webkit-linear-gradient(top, rgba(240,50,0,0.3), rgb(190,30,0,0.3)), url(../images/linen.png);
	background-color: rgba(240,50,0,0.7);
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 1px rgba(255,0,0,0.5);
	-webkit-animation: redPulseLion 0.5s ease-in 0 infinite alternate;
}
	input[type="button"].confirm-click:active,
	button.confirm-click:active {
		color: #eee !important;
		background-image: -webkit-linear-gradient(top, rgb(190,30,0), rgb(240,50,0));
	}
#allowed-column {
	border-right-color: #b3b3b3;
}
#blocked-column {
	border-left-color: #b3b3b3;
}
.info-link {
	border-color: #bbb;
	background-image: -webkit-linear-gradient(top, #ddd, #ccc);
	box-shadow: 0 1px 0 rgba(255,255,255,0.4), inset 0 7px 0 rgba(255,255,255,0.15), inset 0 5px 0 rgba(255,255,255,0.35);
}
	.info-link:active {
		border-color: #aaa;
		background-image: -webkit-linear-gradient(top, #ccc, #bbb);
		box-shadow: 0 1px 0 rgba(255,255,255,0.7), inset 0 7px 0 rgba(255,255,255,0.15), inset 0 5px 0 rgba(255,255,255,0.35);
	}
#select-arrow-settings {
	background-color: #555;
}
.kind-header.floater,
.info-container.floater,
.rules-header.floater {
	background: rgba(210,210,210,0.92) url(../images/texture.png) left top repeat;
}
.domain-name.floater {
	background: url(../images/disclosure-open.png) no-repeat left 7px, rgba(210,210,210,0.92) url(../images/texture.png) left top repeat;
}
	.domain-name.hidden.floater {
		background: url(../images/disclosure-closed.png) no-repeat left 7px, rgba(210,210,210,0.92) url(../images/texture.png) left top repeat;
	}