body {
	font-family: 'Lucida Grande';
	font-size: 10pt;
	line-height: 1.5;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	padding: 0;
	margin: 0;
	height: 392px;
	overflow-x: hidden;
	color: #3A3A3A;
}
header {
	position: fixed;
	top: 5px;
	width: 460px;
	height: 25px;
	padding: 0;
	margin: 0;
}
header h1 {
	font-size: 10pt;
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: normal;
	color: #626262;
}
#container {
	z-index: 1;
	position: absolute;
	width: 456px;
	overflow: hidden;
	height: 373px;
	margin: 25px 0 0 4px;
/*	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), color-stop(2%, rgba(0,0,0,1)), color-stop(98%, rgba(0,0,0,1)), to(rgba(0,0,0,0)))*/
}
	#container.loading > * {
		display: none;
	}
	#container.busy * {
		cursor: wait !important;
	}
#main,
#rules-list,
#setup,
#misc {
	position: absolute;
	left: 0;
	width: 452px;
	height: 367px;
	overflow: auto;
	padding-top: 6px;
	padding-right: 4px;
}

input,
select,
button {
	background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F5), to(#EAEAEA));
	border: 1px solid #A4A4A4;
	-webkit-border-radius: 4px;
	color: #545554;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
	input[type="button"]:active,
	button:active {
		background: -webkit-gradient(linear, left top, left bottom, from(#B9B9B9), color-stop(20%, #EAEAEA), to(#EAEAEA));
	}
	input[type="text"] {
		background: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#F3F3F5));
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	}

input[type="button"].confirm-click,
button.confirm-click {
	color: #fff;
	border: 1px solid #883A3D;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF6E70), to(#CF4D54));
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
	input[type="button"].confirm-click:active,
	button.confirm-click:active {
		background: -webkit-gradient(linear, left top, left bottom, from(#883A3D), color-stop(20%, #CF4D54), to(#CF4D54));
	}
select {
	-webkit-appearance: button;
	padding: 1px 18px 2px 9px;
	color: #3A3A3A;
	-webkit-border-radius: 11px;
	background: url(../images/select-arrows.png) no-repeat right top, -webkit-gradient(linear, left top, left bottom, from(#F3F3F5), to(#EAEAEA));
}
	select:active {
		background: url(../images/select-arrows.png) no-repeat right top, -webkit-gradient(linear, left top, left bottom, from(#B9B9B9), color-stop(20%, #EAEAEA), to(#EAEAEA));
		
	}
*.allowing-mode .domain-name,
.allowed-label,
.rule.type-5,
.rule.type-7 {
	color: #008913;
}
.blocked-label,
*.blocking-mode .domain-name,
.rule.type-4,
.rule.type-6 {
	color: #920101;
}
.unblocked-label,
.label {
	color: #777;
}

label {
	color: #555;
}

.rule.type-2,
.rule.type--2 {
	color: #BF01A2;
}

.rule.type-3,
.rule.type--3 {
	color: #006889;
}
	.rule.type--2,
	.rule.type--3 {
		text-decoration: line-through;
	}

.allowed-label,
.blocked-label,
.unblocked-label {
	cursor: default;
	padding-left: 13px;
	background: url(../images/disclosure.png) no-repeat -2px -90px;
}
	.allowed-label.hidden,
	.blocked-label.hidden,
	.unblocked-label.hidden {
		background-position: -2px 0;
		margin-bottom: 20px;
	}

#block-domain,
#allow-domain,
#block-options,
#allow-options,
#reset-domain {
	position: absolute;
	right: 0;
	top: -2px;
}
	#allow-options,
	#block-options {
		right: 68px;
		top: -1px;
	}

#blocked-script-urls,
#allowed-script-urls,
#unblocked-script-urls {
	margin-top: -8px;
}
.info-container {
	position: relative;
	margin-bottom: 15px;
}

ul {
	list-style-type: none;
	padding-left: 0;
	padding-bottom: 1px;
	margin-left: 10px;
	font-size: 8pt;
	position: relative;
}
ul li {
	position: relative;
	padding-top: 5px;
}
ul li span {
	display: inline-block;
	width: 387px;
	overflow: auto;
	white-space: nowrap;
}

	ul li ul li span {
		width: 373px;
	}
	
	::-webkit-scrollbar {
		width: 5px;
		height: 4px;
	}
	
	::-webkit-scrollbar-corner {
		background: transparent;
	}

	::-webkit-scrollbar-track {
		-webkit-border-radius: 2px;
		border: 1px solid rgba(0,0,0,0.12);
	}

	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 2px;
		background: rgba(0,0,0,0.1); 
		border: 1px solid rgba(0,0,0,0.11);
	}
		::-webkit-scrollbar-thumb:vertical {
			-webkit-border-radius: 3px;
		}
ul li input {
	position: absolute;
	right: 0px;
	top: 1px;
}
a {
	text-decoration: none;
	color: #0064E3;
}
	a:hover {
		color: #0B37B4;
	}
#disable,
#view-rules,
#reset-automatic {
	float: right;
	margin-left: 5px;
	margin-bottom: 10px;
}
	#disable {
		margin-top: 5px;
		margin-right: 2px;
		font-size: 6pt;
	}
#disclaimer {
	font-size: 8pt;
	color: #999;
	clear: both;
}

#rules-list,
#misc {
	font-size: 8pt;
	display: none;
}
#rules-list #data {
	margin-top: 15px;
}
p.misc-info {
	text-align: center;
	font-size: 10pt;
	color: #626262;
}
#rules-list #rules-list-back,
#misc #misc-close {
	position: absolute;
	top: -2px;
}
.divider {
	width: 100%;
	height: 1px;
	margin-top: 5px;
	background: rgba(0,0,0,0.13);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	-webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), color-stop(40%, rgba(0,0,0,1)), color-stop(60%, rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}
.domain-name {
	margin-left: -12px;
	margin-top: 5px;
	background: url(../images/disclosure.png) no-repeat left -90px;
	padding: 0 0 0 15px;
	font-size: 9pt;
	cursor: default;
}
	.domain-name.hidden {
		background-position: 0 0;
	}
		.domain-name.hidden + li {
			display: none;
		}
	.domain-name.not-included,
	.domain-name.filter-hidden {
		display: none;
	}
	.domain-name.not-included + li,
	.domain-name.filter-hidden + li {
		display: none;
	}
	.domain-name.no-disclosure {
		background: none;
		margin-left: 0;
		padding: 0;
	}

#setup {
	display: none;
	font-size: 9pt;
}
#page-list {
	max-width: 405px;
	margin-bottom: 10px;
}

.zoom-window {
	-webkit-box-shadow: 0 3px 30px rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
}
	.zoom-window-open {
		-webkit-border-radius: 0;
	}

#rules-filter-bar {
	margin-top: 5px;
	border-top: 1px solid rgba(0,0,0,0.14);
	border-bottom: 1px solid rgba(0,0,0,0.2);
	width: 445px;
	padding: 3px 3px 2px;
	background: -webkit-linear-gradient(-90deg, rgb(231,231,231), rgb(215,215,215));
	-webkit-user-select: none;
}
	#rules-filter-bar #domain-filter {
		margin-top: -3px;
		width: 200px;
	}
	#rules-filter-bar ul {
		margin: 0;
	}
	#rules-filter-bar ul li {
		float: left;
		margin: 0 2px 0 0;
		padding: 0 8px;
		-webkit-border-radius: 10px;
		border: 1px solid transparent;
		font-weight: bold;
		cursor: default;
	}
		#rules-filter-bar ul li:not(#li-domain-filter).selected,
		#rules-filter-bar ul li:not(#li-domain-filter):active,
		#rules-filter-bar ul li:not(#li-domain-filter):hover {
			background: -webkit-gradient(linear, left top, left bottom, from(#888), color-stop(10%, rgb(150,150,150)), to(rgb(150,150,150)));
			color: #fff;
			text-shadow: 0 1px 0 rgba(0,0,0,0.4);
			-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.4), 0 1px rgba(255,255,255,0.7);
		}
			#rules-filter-bar ul li:not(#li-domain-filter):not(.selected):hover {
				background: rgb(175,175,175);
				-webkit-box-shadow: none;
			}
		#rules-filter-bar ul li:not(#li-domain-filter):active {
			background: -webkit-gradient(linear, left top, left bottom, from(#676767), color-stop(10%, #767676), to(#767676)) !important;
			-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.45), 0 1px rgba(255,255,255,0.7) !important;
		}
		#rules-filter-bar #li-domain-filter {
			float: right;
		}