/***************************************
 * @file css/main.css
 * @author Travis Roman (travis@toggleable.com)
 * @package JavaScript Blocker (http://javascript-blocker.toggleable.com)
 ***************************************/

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
::-webkit-scrollbar-track {
	-webkit-border-radius: 5px;
	border-top: 1px solid rgba(0,0,0,0.15);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.02));
}
::-webkit-scrollbar-track:vertical {
	border-top: none;
	border-left: 1px solid rgba(0,0,0,0.15);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.02));
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-top: 1px solid rgba(0,0,0,0.01);
	background: -webkit-linear-gradient(top, #bbb, #999);
}
::-webkit-scrollbar-thumb:vertical {
	border-left: 1px solid rgba(0,0,0,0.01);
	background: -webkit-linear-gradient(180deg, #999, #bbb);
}

body {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	font-size: 10pt;
	line-height: 1.5;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	padding: 0;
	margin: 0;
	height: 392px;
	overflow: hidden;
	color: #3A3A3A;
}
	body.simple {
		height: 342px;
	}
	body.windows {
		background: rgba(239,239,239,0.93);
	}
header.main-header {
	position: fixed;
	top: 5px;
	width: 460px;
	height: 20px;
	padding: 0;
	margin: 0;
}
	body.simple header.main-header {
		width: 360px;
	}
header h1 {
	font-size: 10pt;
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: normal;
	color: #626262;
}
	#modal header h1 {
		color: #eee;
		text-shadow: 0 1px 0 rgba(0,0,0,0.7);
	}
#container {
	z-index: 1;
	position: absolute;
	width: 456px;
	overflow: hidden;
	height: 375px;
	margin: 25px 0 0 4px;
/*	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) 2%, rgba(0,0,0,1) 98%, rgba(0,0,0,0)); */
}
	body.simple #container {
		width: 356px;
		height: 325px;
	}
	body.busy *,
	#container.loading * {
		cursor: wait !important;
	}
#main,
#rules-list,
#modal,
#setup,
#misc {
	width: 452px;
	height: 369px;
	overflow-y: scroll !important;
	overflow-x: hidden;
	padding-top: 6px;
	padding-right: 4px;
}
	body.simple #main,
	body.simple #rules-list,
	body.simple #modal,
	body.simple #setup,
	body.simple #misc,
	body.simple #update-information {
		width: 352px;
		height: 319px;
	}
	#misc {
		overflow-x: auto !important;
	}
	#modal,
	.zoom-window-animating {
		position: absolute !important;
	}
	#rules-list,
	#modal,
	#setup,
	#misc {
		display: none;
	}
	.zoom-window-animating {
		display: block;
	}
#modal {
	width: 457px;
	height: 394px;
	background: rgba(0,0,0,0.5);
	z-index: 9999;
}
	body.simple #modal {
		width: 357px;
		height: 344px;
	}
	
#domain-script,
#domain-picker {
	max-width: 270px;
}
	body.simple #domain-script,
	body.simple #domain-picker {
		max-width: 220px;
	}

#donation-id {
	width: 130px;
}
input,
select,
button,
textarea {
	background: -webkit-linear-gradient(top, #F9F9F9, #E6E6E6);
	border: 1px solid #ABABAB;
	-webkit-border-radius: 4px;
	color: #444;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
	body.windows input,
	body.windows select,
	body.windows button,
	body.windows textarea {
		font-size: 9pt;
		padding-top: 0;
		padding-bottom: 2px;
		font-family: 'Lucida Sans Unicode' !important;
	}
	input:focus, select:focus, button:focus, textarea:focus {
		outline: none !important;
		-webkit-box-shadow: 0 0 4px rgb(20, 158, 255), inset 0 0 3px rgb(20, 158, 255) !important;
	}
	input[type="button"]:active,
	button:active {
		background: -webkit-linear-gradient(top, #CCC, #DDD 20%, #DDD);
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.25), 0 1px 0 rgba(255,255,255,0.5);
	}
	input[type="text"],
	input[type="search"] {
		padding: 2px;
	}
	input[type="text"],
	input[type="search"],
	textarea {
		-webkit-border-radius: 3px;
		background: -webkit-linear-gradient(top, #f3f3f3, #FbFbFb);
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15), 0 1px 0 #eee;
	}
	input[type="search"] {
		padding: 2px;
		-webkit-appearance: none;
		-webkit-border-radius: 10px;
	}
		body.windows input[type="search"] {
			padding: 1px 2px;
		}
	input[type="checkbox"] {
		margin-left: 0;
	}

@-webkit-keyframes redPulse {
	0% {
		background-color: #ff7578;
		-webkit-box-shadow: 0 0 4px rgba(255,0,0,0.8);
	}
	100% {
		background-color: #CF4D54;
		-webkit-box-shadow: 0 0 1px rgba(255,0,0,0.7);
	}
}

input[type="button"].confirm-click,
button.confirm-click {
	color: #fff;
	border: 1px solid #883A3D !important;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
	background-color: #ff7578;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 1px rgba(255,0,0,0.5);
	-webkit-animation: redPulse 0.5s ease-in 0 infinite alternate;
}
	input[type="button"].confirm-click:active,
	button.confirm-click:active {
		background: -webkit-linear-gradient(top, #883A3D, #CF4D54 20%, #CF4D54);
	}
select {
	-webkit-appearance: button;
	padding: 1px 16px 2px 7px;
	color: #3A3A3A;
	-webkit-border-radius: 4px;
	background: url(../images/select-arrows.png) no-repeat right top, -webkit-linear-gradient(top, #F9F9F9, #E6E6E6);
}
	select:active {
		background: url(../images/select-arrows.png) no-repeat right top, -webkit-linear-gradient(top, #B9B9B9, #DDD 20%, #DDD);
	}
	
.help-link {
	background-image: -webkit-linear-gradient(top, #eee, #ddd);
	border: 1px solid #aaa;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 6px 0 rgba(255,255,255,0.4), inset 0 4px 0 rgba(255,255,255,0.7);
	margin-top: -2px;
	padding-bottom: 2px;
	padding-left: 1px;
	display: inline-block;
	-webkit-border-radius: 20px;
	height: 15px;
	width: 15px;
	text-align: center;
}
	.help-link:hover {
		border-color: #888;
	}
.allowed-label,
.rule.type-5,
.rule.type-1 {
	color: #008913;
}
.blocked-label,
.rule.type-4,
.rule.type-0 {
	color: #920101;
}
.rule.temporary {
	font-style: oblique;
}
.unblocked-label {
	color: #777;
}

.label {
	color: #888;
}

label {
	color: #555;
}

.rule.type-2,
.rule.type--2 {
	color: #BF01A2;
}
	.rule.type--2 {
		padding: 0 4px;
		margin-left: -4px;
		-webkit-border-radius: 4px;
		background:	-webkit-linear-gradient(top, rgba(40,255,40,0.23), rgba(40,255,40,0.3));
		-webkit-box-shadow: 0 1px 0 rgba(40,255,40,0.6), inset 0 1px 0 rgba(40,255,40,0.25);
	}
.allowed-label,
.blocked-label,
.unblocked-label {
	display: inline-block;
	cursor: default;
	margin: 3px 0 0;
	padding-left: 10px;
	background: url(../images/disclosure-open.png) no-repeat left 5px;
}
	.allowed-label.hidden,
	.blocked-label.hidden,
	.unblocked-label.hidden {
		background-image: url(../images/disclosure-closed.png);
	}
	.allowed-label.no-disclosure,
	.blocked-label.no-disclosure {
		background: none;
		padding-left: 0;
		margin: 0;
	}

#reset-domain,
#beautify-script {
	position: absolute;
	top: -2px;
	right: -2px;
}
#block-domain,
#allow-domain {
	float: right;
	margin-right: 3px;
	margin-left: 2px;
}
	.domain-options {
		float: right;
		margin-top: 3px;
		max-width: 260px;
		margin-right: 0;
	}
	body.simple .domain-options {
		max-width: 160px;
	}

#blocked-script-urls,
#allowed-script-urls,
#unblocked-script-urls {
	margin-top: -8px;
	overflow: hidden;
}

.info-container {
	position: relative;
	margin-bottom: 11px;
	margin-top: 2px;
}
	.info-container:nth-child(2) {
		margin-top: 0;
	}

ul {
	list-style-type: none;
	padding-left: 0;
	padding-bottom: 1px;
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 8pt;
}

.main-wrapper li span {
	cursor: help;
}
ul li {
	top: 0;
	position: relative;
	padding-top: 5px;
}
	ul li.none,
	ul li.show-more-hidden {
		display: none;
	}
	#rules-list-scripts ul li {
		overflow: hidden;
	}
ul li span {
	display: inline-block;
	max-width: 86%;
	overflow: auto;
	white-space: nowrap;
}	
	body.simple ul li span {
		max-width: 77%;
	}
	ul li span.https,
	#domain-script.https {
		color: #956B05;
	}
	ul li span.safari-extension,
	#domain-script.safari-extension {
		color: #0851FE;
	}
	ul li small {
		font-size: 8pt;
		color: #777;
	}
	ul li span::-webkit-scrollbar,
	p.misc-header::-webkit-scrollbar {
		height: 3px;
	}
	ul li span::-webkit-scrollbar-track {
		-webkit-border-radius: 2px;
		background: -webkit-linear-gradient(top, #dfdfdf, rgba(255,255,255,0));
		border-top: 1px solid #ddd;
	}
	ul li span::-webkit-scrollbar-thumb {
		-webkit-border-radius: 2px;
		border-top: 1px solid #bbb;
		background: -webkit-linear-gradient(top, #ddd, #999);

	}
ul li input {
	position: absolute;
	right: 3px;
	top: 1px;
}
	ul li input[type="button"] {
		width: 13%;
	}
	body.simple ul li input[type="button"] {
		width: 17%;
	}

a {
	text-decoration: none;
	color: #0064E3;
	cursor: pointer;
}
	a:hover {
		color: #0B37B4;
		text-shadow: 0 1px 0 #fff;
	}
	a.toggle-main,
	a.toggle-rules {
		cursor: default;
	}

#disable,
#view-rules,
#unlock,
#switch-interface,
#reset-automatic,
#js-project,
#js-help {
	float: right;
	margin-right: 3px;
	margin-left: 2px;
	margin-bottom: 10px;
}
	#disable,
	#view-rules,
	#unlock,
	#switch-interface,
	#js-project,
	#js-help {
		font-size: 7pt;
		border-color: #bbb;
		margin-bottom: 0;
	}
	p.hidden,
	#above-temporary.hidden,
	#filter-temporary.hidden {
		display: none;
	}

#disclaimer {
	margin-top: 20px;
	font-size: 8pt;
	color: #999;
}
	#disclaimer p {
		margin-bottom: 0;
	}

#rules-list,
#misc,
#update-information {
	font-size: 8pt;
	display: none;
}
#rules-list #data {
	margin-top: 10px;
	padding-bottom: 1px;
}

header h3 {
	float: left;
	font-size: 12px;
	text-transform: uppercase;
	color: #5C6A78;
	padding: 0 4px;
	margin: 5px 0;
	cursor: default;
}
	.kind-header {
		margin-left: 10px;
		margin-top: -1px;
		padding-top: 4px;
		margin-bottom: -3px;
	}
		.kind-header.floater,
		.info-container.floater,
		.rules-header.floater {
			background: rgba(235,235,235,0.96);
			padding-bottom: 0;
		}
	#main h3 {
		padding: 0;
		margin-top: -1px;
	}
	#rules-list h3 {
		float: left;
	}
	header a {
		visibility: hidden;
		float: left;
		margin-top: 5px;
		margin-left: 5px;
		font-size: 12px;
		color: #8593A1;
		font-weight: bold;
	}
		header:hover a {
			visibility: visible;
		}
		header a:hover {
			color: #8593A1;
		}
		header a:active {
			color: #4766E2;
		}
		#main header a {
			margin-top: -1px;
			margin-left: 8px;
		}
p.misc-info {
	text-align: center;
	font-size: 10pt;
	color: #626262;
}
	p.misc-info select {
		font-size: 10pt;
		color: #626262;
		background-position: 100% 2px, 0 0;
	}
p.error {
	color: red;
}
p.misc-header {
	text-align: center;
	font-size: 9pt;
	color: #626262;
	width: 300px;
	padding-top: 2px;
	margin-left: 50px;
	overflow: auto;
	white-space: nowrap;
}
	body.simple p.misc-header {
		width: 200px;
	}
p.above-filter {
	margin-bottom: 2px;
	margin-top: 2px;
}
#rules-list #rules-list-back,
#rules-list #new-domain,
#misc #misc-close {
	position: absolute;
	top: -2px;
}

.divider {
	width: 100%;
	height: 1px;
	margin-top: 5px;
	background: rgba(0,0,0,0.17);
	border-bottom: 1px solid rgba(255,255,255,0.7);
	-webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1) 40%, rgba(0,0,0,1) 60%, rgba(0,0,0,0));
	clear: both;
}
	.domain-name .divider {
		margin-bottom: 5px;
		display: none;
	}
	.domain-name input {
		margin-top: 5px;
		display: none;
	}
		.domain-name.editing .divider,
		.domain-name.editing input {
			display: block;
		}
		.domain-name.editing + li {
			display: none;
		}
.domain-name {
	margin-left: -10px;
	margin-top: 3px;
	background: url(../images/disclosure-open.png) no-repeat left 7px;
	padding: 2px 0 0 10px;
	font-size: 9pt;
	cursor: default;
}
	.domain-name + li {
		overflow: hidden;
		padding-top: 1px;
	}
	.domain-name.hidden {
		background-image: url(../images/disclosure-closed.png);
	}
	.domain-name.hidden + li,
	.domain-name.not-included,
	.domain-name.filter-hidden,
	.domain-name.state-hidden,
	.domain-name.not-included + li,
	.domain-name.filter-hidden + li,
	.domain-name.state-hidden + li {
		display: none;
	}
		.domain-name.hidden + li.floater,
		.domain-name.not-included + li.floater,
		.domain-name.filter-hidden + li.floater,
		.domain-name.state-hidden + li.floater {
			display: block;
		}
	.domain-name.no-disclosure {
		background: none;
		margin-left: 0;
		padding: 0;
	}
	.domain-name.floater {
		background: url(../images/disclosure-open.png) no-repeat left 7px, rgba(235,235,235,0.96);
	}
		.domain-name.hidden.floater {
			background: url(../images/disclosure-closed.png) no-repeat left 7px, rgba(235,235,235,0.96);
		}

#setup {
	display: none;
	font-size: 9pt;
}
#page-lists {
	position: relative;
	width: 100%;
	margin-bottom: 7px;
}
	#page-lists > label {
		max-width: 5%;
	}
	#page-list {
		max-width: 90%;
	}
		body.simple #page-list {
			max-width: 88%;
		}

.zoom-window {
	-webkit-box-shadow: 0 3px 30px rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
}
	.zoom-window-open {
		-webkit-border-radius: 0;
	}

.filter-bar,
#find-bar {
	margin-top: 5px;
	-webkit-box-shadow: 0 -1px 0 #ccc;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #b5b5b5;
	width: 443px;
	padding: 2px 3px 3px;
	background: -webkit-linear-gradient(top, #ececec, #d9d9d9);
	-webkit-user-select: none;
}
	body.simple .filter-bar,
	body.simple #find-bar {
		width: 343px;
	}
	.filter-bar {
		margin-top: 0;
		padding-top: 1px;
	}
	.filter-bar #domain-filter,
	.filter-bar #li-domain-filter {
		margin-top: -3px;
		width: 275px;
	}
		.filter-bar #li-domain-filter {
			margin-top: 0;
			margin-left: -13px;
		}
			body.simple .filter-bar #li-domain-filter {
				margin-left: -9px;
			}
			body.simple.windows .filter-bar #li-domain-filter {
				margin-left: -8px;
			}
	.filter-bar ul {
		margin: 1px 0 1px 0;
		float: left;
	}
		.filter-bar #filter-type-collapse {
			margin-top: 1px;
		}
		.filter-bar #filter-type-domain {
			margin-bottom: -1px;
			margin-top: 3px;
		}
	.filter-bar ul li {
		float: left;
		margin: 0 2px 0 0;
		padding: 0 6px;
		-webkit-border-radius: 10px;
		border: 1px solid transparent;
		font-weight: bold;
		cursor: default;
	}
		.filter-bar ul li.label {
			font-weight: normal;
			color: #777;
			padding: 0;
		}
		.filter-bar .filter-divider {
			padding: 0;
			color: #888;
		}
		.filter-bar ul li:not(#li-domain-filter):not(.filter-divider):not(.label).selected,
		.filter-bar ul li:not(#li-domain-filter):not(.filter-divider):not(.label):active,
		.filter-bar ul li:not(#li-domain-filter):not(.filter-divider):not(.label):hover {
			background: -webkit-linear-gradient(top, #888, #969696 10%, #969696);
			color: #fff;
			text-shadow: 0 1px 0 rgba(0,0,0,0.4);
			-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.4), 0 1px rgba(255,255,255,0.7);
		}
			.filter-bar ul li:not(#li-domain-filter):not(.filter-divider):not(.label):not(.selected):hover {
				background: #afafaf;
				-webkit-box-shadow: none;
			}
		.filter-bar ul li:not(#li-domain-filter):not(.filter-divider):not(.label):active {
			background: -webkit-linear-gradient(top, #676767, #767676 10%, #767676) !important;
			-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.45), 0 1px rgba(255,255,255,0.7) !important;
		}

#find-bar {
	display: none;
	width: 454px;
	height: 17px;
	margin: 0;
	top: 26px;
	left: 0;
	position: fixed;
	z-index: 99999;
	-webkit-box-shadow: 0 -1px 0 #bfbfbf, 0 3px 5px rgba(0,0,0,0.1);
}
	body.simple #find-bar {
		width: 354px;
	}
	#find-bar #find-bar-search {
		width: 200px;
		margin-top: -1px;
		margin-right: 3px;
		margin-left: 5px;
		float: right;
	}
	#find-bar #find-bar-matches {
		float: right;
		font-size: 9pt;
	}
	#find-bar #find-bar-done {
		float: right;
		margin-top: 0px;
		height: 18px;
		-webkit-border-radius: 10px;
		padding-top: 1px !important;
		padding-bottom: 1px !important;
	}
		body.windows #find-bar-done {
			padding-top: 0 !important;
			padding-bottom: 2px !important;
		}
	.find-scroll {
		position: fixed;
		right: 0;
		width: 4px;
		background: -webkit-linear-gradient(right, #FAFF00, #E0C200);
		height: 1px;
		z-index: 999;
		border: 1px solid #888;
		border-top: none;
		border-bottom: none;
		-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.2);
		opacity: 0.9;
	}
	mark {
		display: inline-block;
		padding: 0;
		background: -webkit-linear-gradient(top, #FAFF00, #E0C200);
		-webkit-border-radius: 4px;
		color: #3a3a3a;
		text-decoration: none;
		-webkit-box-shadow: inset 0 0 4px #CFC004, inset 0 1px 0 rgba(0,0,0,0.2), inset 0 -1px 0 rgba(0,0,0,0.4), inset 0 -2px 0 rgba(0,0,0,0.1),
				inset 1px 0 0 rgba(0,0,0,0.3), inset -1px 0 0 rgba(0,0,0,0.3);
		white-space: pre;
	}
#backup-export,
#backup-import,
#debug-info {
	margin-top: 1px;
	width: 300px;
	height: 120px;
}
	#debug-info {
		height: 110px;
	}
	#backup-import {
		height: 80px;
	}
	
#large-label {
	font-size: 9pt !important;
}

#hidden-extras {
	display: none;
	height: 0;
	width: 0;
}

#jsoutput {
	min-height: 10px;
	min-width: 300px;
}

.floater {
	position: absolute;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 1px;
}
	.floater *:not(input) {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.floater .floater-divider {
		margin: 0 0 -2px;
		visibility: visible !important;
		display: block !important;
	}