body,
header h1,
p.misc-info,
p.misc-info select {
	font-size: 11pt;
}

#page-list {
	width: 412px;
}
	body.simple #page-list {
		width: 312px;
	}
	#previous-frame,
	#next-frame {
		font-size: 9pt;
	}
	#frame-switcher {
		width: 85px;
	}
	#frame-switcher .divider {
		margin-bottom: -3px;
	}
	
#domain-script,
#domain-picker {
	max-width: 310px;
}
	body.simple #domain-script,
	body.simple #domain-picker {
		max-width: 240px;
	}

select {
	background-position: right 1px, left top, left top;
}
	p.misc-info select {
		background-position: right 2px, left top, left top;
	}

input,
button,
textarea,
select,
ul,
ul li small,
#disclaimer,
#rules-list,
#misc,
#poppy {
	font-size: 9pt;
}

body.windows input,
body.windows select,
body.windows button,
body.windows textarea,
p.misc-header,
.domain-name,
#setup,
#find-bar #find-bar-matches {
	font-size: 10pt;
}

header h3 {
	font-size: 13px;
}
	header a {
		font-size: 13px;
	}

#disclaimer input {
	font-size: 8pt;
}

#poppy #rule-input {
	width: 435px;
}
	body.simple #poppy #rule-input {
		width: 335px;
	}
	body.simplified #poppy #rule-input {
		width: 302px;
	}

#main .item-list-container select {
	left: -3px;
	max-width: 195px;
}
	#main .item-list-container .rule-input {
		max-width: 234px;
	}
#main .some-helper {
	font-size: 9pt;
}