body,
header h1,
p.misc-info,
p.misc-info select {
	font-size: 11pt;
}


#page-list {
	width: 412px;
}
	body.simple #page-list {
		width: 312px;
	}
	#previous-frame,
	#next-frame {
		font-size: 9pt;
	}
	#frame-switcher {
		width: 85px;
	}
	#frame-switcher .divider {
		margin-bottom: -3px;
	}
#allowed-blocked-columns {
	min-height: 327px;
}
	body.simple #allowed-blocked-columns {
		min-height: 277px;
	}
#domain-script,
#domain-picker {
	max-width: 310px;
}
	body.simple #domain-script,
	body.simple #domain-picker {
		max-width: 240px;
	}

select {
	background-position: right 1px, left top, left top;
}
	p.misc-info select {
		background-position: right 2px, left top, left top;
	}

input,
button,
textarea,
select,
ul,
ul li small,
#disclaimer,
#rules-list,
#misc,
.poppy,
#snapshots {
	font-size: 9pt;
}

body.windows input,
body.windows select,
body.windows button,
body.windows textarea,
p.misc-header,
.domain-name,
#setup,
#find-bar #find-bar-matches {
	font-size: 10pt;
}

#main .actions-bar li {
	font-size: 8pt;
}

#main .actions-bar #jsblocker-name {
	font-size: 6pt;
}
	#main .actions-bar #jsblocker-name span {
		margin-top: 2px;
	}

header h3,
header a {
	font-size: 13px;
}

#disclaimer input {
	font-size: 8pt;
}

.poppy #rule-input,
.poppy #rule-options {
	width: 435px;
}
	body.simple .poppy #rule-input,
	body.simple .poppy #rule-options {
		width: 335px;
	}

#main .item-list-container select {
	left: -3px;
	max-width: 195px;
}
	#main .item-list-container .rule-input {
		max-width: 234px;
	}
#main .some-helper {
	font-size: 9pt;
}