/***************************************
 * @file css/main.css
 * @author Travis Roman (travis@toggleable.com)
 * @project JavaScript Blocker (http://javascript-blocker.toggleable.com)
 * @version 1.2.6-2
 ***************************************/

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
::-webkit-scrollbar-track {
	-webkit-border-radius: 4px;
	border-top: 1px solid rgba(0,0,0,0.15);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.02));
}
::-webkit-scrollbar-track:vertical {
	border-top: none;
	border-left: 1px solid rgba(0,0,0,0.15);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.02));
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 4px;
	border-top: 1px solid rgba(0,0,0,0.01);
	background: -webkit-linear-gradient(top, #bbb, #999);
}
::-webkit-scrollbar-thumb:vertical {
	border-left: 1px solid rgba(0,0,0,0.01);
	background: -webkit-linear-gradient(180deg, #999, #bbb);
}
	
body {
	font-family: 'Lucida Grande';
	font-size: 10pt;
	line-height: 1.5;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	padding: 0;
	margin: 0;
	height: 392px;
	overflow-x: hidden;
	color: #3A3A3A;
}
header {
	position: fixed;
	top: 5px;
	width: 460px;
	height: 25px;
	padding: 0;
	margin: 0;
}
header h1 {
	font-size: 10pt;
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: normal;
	color: #626262;
}
#container {
	z-index: 1;
	position: absolute;
	width: 456px;
	overflow: hidden;
	height: 375px;
	margin: 25px 0 0 4px;
/*	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) 2%, rgba(0,0,0,1) 98%, rgba(0,0,0,0)); */
}
	#container.loading > * {
		display: none;
	}
	#container.busy * {
		cursor: wait !important;
	}
#main,
#rules-list,
#setup,
#misc {
	position: absolute;
	left: 0;
	width: 452px;
	height: 369px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 6px;
	padding-right: 4px;
}
	#misc {
		overflow-x: auto;
	}

input,
select,
button,
textarea {
	background: -webkit-linear-gradient(top, #F3F3F5, #EAEAEA);
	border: 1px solid #A4A4A4;
	-webkit-border-radius: 4px;
	color: #545554;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
	input:focus, select:focus, button:focus, textarea:focus {
		outline: none !important;
		-webkit-box-shadow: 0 0 4px rgb(20, 158, 255), inset 0 0 3px rgb(20, 158, 255) !important;
	}
	input[type="button"]:active,
	button:active {
		background: -webkit-linear-gradient(top, #B9B9B9, #DFDFDF 20%, #DFDFDF);
	}
	input[type="text"],
	input[type="search"],
	textarea {
		-webkit-border-radius: 3px;
		background: -webkit-linear-gradient(top, #f3f3f3, #FbFbFb);
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15), 0 1px 0 #eee;
	}

input[type="button"].confirm-click,
button.confirm-click {
	color: #fff;
	border: 1px solid #883A3D;
	background: -webkit-linear-gradient(top, #FF6E70, #CF4D54);
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
	input[type="button"].confirm-click:active,
	button.confirm-click:active {
		background: -webkit-linear-gradient(top, #883A3D, #CF4D54 20%, #CF4D54);
	}
select {
	-webkit-appearance: button;
	padding: 1px 18px 2px 9px;
	color: #3A3A3A;
	-webkit-border-radius: 11px;
	background: url(../images/select-arrows.png) no-repeat right top, -webkit-linear-gradient(top, #F3F3F5, #EAEAEA);
}
	select:active {
		background: url(../images/select-arrows.png) no-repeat right top, -webkit-linear-gradient(top, #B9B9B9, #DFDFDF 20%, #DFDFDF);
		
	}
*.allowing-mode .domain-name,
.allowed-label,
.rule.type-5,
.rule.type-7 {
	color: #008913;
}
.blocked-label,
*.blocking-mode .domain-name,
.rule.type-4,
.rule.type-6 {
	color: #920101;
}
.unblocked-label {
	color: #777;
}

.label {
	color: #888;
}

label {
	color: #555;
}

.rule.type-2,
.rule.type--2 {
	color: #BF01A2;
}

.rule.type-3,
.rule.type--3 {
	color: #006889;
}
	.rule.type--2,
	.rule.type--3 {
		text-decoration: line-through;
	}

.allowed-label,
.blocked-label,
.unblocked-label {
	display: inline-block;
	cursor: default;
	margin: 3px 0 0;
	padding-left: 13px;
	background: url(../images/disclosure-open.png) no-repeat left 4px;
}
	.allowed-label.hidden,
	.blocked-label.hidden,
	.unblocked-label.hidden {
		background-image: url(../images/disclosure-closed.png);
	}

#reset-domain {
	position: absolute;
	top: -2px;
	right: -2px;
}
#block-domain,
#allow-domain {
	float: right;
	margin-right: 0;
	margin-left: 5px;
}
	.domain-options {
		float: right;
		margin-top: 3px;
		max-width: 260px;
	}

#blocked-script-urls,
#allowed-script-urls,
#unblocked-script-urls {
	margin-top: -8px;
}
.info-container {
	position: relative;
	margin-bottom: 11px;
}

ul {
	list-style-type: none;
	padding-left: 0;
	padding-bottom: 1px;
	margin-left: 10px;
	font-size: 8pt;
	position: relative;
}
ul li {
	position: relative;
	padding-top: 5px;
}
ul li span {
	display: inline-block;
	max-width: 86%;
	overflow: auto;
	white-space: nowrap;
}
	ul li span::-webkit-scrollbar {
		height: 3px;
	}
	ul li span::-webkit-scrollbar-track {
		-webkit-border-radius: 2px;
		background: -webkit-linear-gradient(top, #dfdfdf, rgba(255,255,255,0));
		border-top: 1px solid #ddd;
	}
	ul li span::-webkit-scrollbar-thumb {
		-webkit-border-radius: 2px;
		border-top: 1px solid #bbb;
		background: -webkit-linear-gradient(top, #ddd, #999);

	}
ul li input {
	position: absolute;
	right: 0px;
	top: 1px;
}
	ul li input[type="button"] {
		width: 13%;
	}
a {
	text-decoration: none;
	color: #0064E3;
}
	a:hover {
		color: #0B37B4;
		text-shadow: 0 1px 0 #fff;
	}
#disable,
#view-rules,
#reset-automatic,
#submit-information {
	float: right;
	margin-right: 0px;
	margin-left: 5px;
	margin-bottom: 10px;
}
	#disable,
	#submit-information {
		margin-top: 5px;
		font-size: 6pt;
	}
#disclaimer {
	font-size: 8pt;
	color: #999;
	clear: both;
}

#rules-list,
#misc {
	font-size: 8pt;
	display: none;
}
#rules-list #data {
	margin-top: 15px;
}
p.misc-info {
	text-align: center;
	font-size: 10pt;
	color: #626262;
}
#rules-list #rules-list-back,
#misc #misc-close {
	position: absolute;
	top: -2px;
}
.divider {
	width: 100%;
	height: 1px;
	margin-top: 5px;
	background: rgba(0,0,0,0.17);
	border-bottom: 1px solid rgba(255,255,255,0.7);
	-webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1) 40%, rgba(0,0,0,1) 60%, rgba(0,0,0,0));
	clear: both;
}
	.domain-name .divider {
		margin-bottom: 5px;
		display: none;
	}
	.domain-name input {
		margin-top: 5px;
		display: none;
	}
		.domain-name.editing .divider,
		.domain-name.editing input {
			display: block;
		}
.domain-name {
	margin-left: -10px;
	margin-top: 5px;
	background: url(../images/disclosure-open.png) no-repeat left 4px;
	padding: 0 0 0 12px;
	font-size: 9pt;
	cursor: default;
}
	.domain-name.hidden {
		background-image: url(../images/disclosure-closed.png);
	}
		.domain-name.hidden + li {
			display: none;
		}
	.domain-name.not-included,
	.domain-name.filter-hidden {
		display: none;
	}
	.domain-name.not-included + li,
	.domain-name.filter-hidden + li {
		display: none;
	}
	.domain-name.no-disclosure {
		background: none;
		margin-left: 0;
		padding: 0;
	}

#setup {
	display: none;
	font-size: 9pt;
}
#page-lists {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}
	#page-lists > label {
		max-width: 5%;
	}
	#page-list {
		max-width: 90%;
	}

.zoom-window {
	-webkit-box-shadow: 0 3px 30px rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
}
	.zoom-window-open {
		-webkit-border-radius: 0;
	}

#rules-filter-bar {
	margin-top: 5px;
	-webkit-box-shadow: 0 -1px 0 #bfbfbf;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #b5b5b5;
	width: 444px;
	padding: 2px 3px 3px;
	background: -webkit-linear-gradient(top, #ececec, #d9d9d9);
	-webkit-user-select: none;
}
	#rules-filter-bar #domain-filter {
		-webkit-appearance: none;
		-webkit-border-radius: 10px;
		padding: 2px;
		margin-top: -3px;
		width: 230px;
	}
	#rules-filter-bar ul {
		margin: 0;
	}
	#rules-filter-bar ul li {
		float: left;
		margin: 0 2px 0 0;
		padding: 0 8px;
		-webkit-border-radius: 10px;
		border: 1px solid transparent;
		font-weight: bold;
		cursor: default;
	}
		#rules-filter-bar ul li:not(#li-domain-filter).selected,
		#rules-filter-bar ul li:not(#li-domain-filter):active,
		#rules-filter-bar ul li:not(#li-domain-filter):hover {
			background: -webkit-linear-gradient(top, #888, #969696 10%, #969696);
			color: #fff;
			text-shadow: 0 1px 0 rgba(0,0,0,0.4);
			-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.4), 0 1px rgba(255,255,255,0.7);
		}
			#rules-filter-bar ul li:not(#li-domain-filter):not(.selected):hover {
				background: #afafaf;
				-webkit-box-shadow: none;
			}
		#rules-filter-bar ul li:not(#li-domain-filter):active {
			background: -webkit-linear-gradient(top, #676767, #767676 10%, #767676) !important;
			-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.45), 0 1px rgba(255,255,255,0.7) !important;
		}
		#rules-filter-bar #li-domain-filter {
			float: right;
		}