/***************************************
 * @file css/main.lion.css
 * @author Travis Roman (travis@toggleable.com)
 * @package JavaScript Blocker (http://javascript-blocker.toggleable.com)
 ***************************************/

input,
select,
button,
textarea {
	background: -webkit-linear-gradient(top, #fff, #fff 43%, rgb(252,252,252) 43%, rgb(243,243,243) 60%, rgb(239,239,239));
	border: 1px solid #9A9A9A;
	-webkit-border-radius: 4px;
	color: #000;
	-webkit-box-shadow: inset 0 -1px 0 rgb(242,242,242), 0 1px 0 rgba(0,0,0,0.06);
	padding: 2px 7px 3px;
	text-shadow: none;
}
	input[type="button"]:active,
	button:active {
		border-left-color: rgb(73, 80, 147) !important;
		border-right-color: rgb(73, 80, 147) !important;
		border-top-color: rgb(78, 88, 167) !important;
		border-bottom-color: rgb(69, 72, 112) !important;
		color: #000 !important;
		text-shadow: none;
		background: -webkit-linear-gradient(top, rgb(161,194,235), rgb(99,163,227) 50%, rgb(63,149,226) 51%, rgb(168,212,235));
		-webkit-box-shadow: inset 0 1px 0 rgb(183,213,236), 0 1px 0 rgba(0,0,0,0.09);
	}
	input[type="text"],
	input[type="search"],
	textarea {
		border: 1px solid #A4A4A4;
		background: -webkit-linear-gradient(top, #f3f3f3, #FbFbFb);
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15), 0 1px 0 #eee;
	}
	@-webkit-keyframes redPulseLion {
		0% {
			background-color: #ff7578;
			-webkit-box-shadow: 0 0 7px rgba(255,0,0,1);
		}
		100% {
			background-color: #CF4D54;
			-webkit-box-shadow: 0 0 1px rgba(255,0,0,0.8);
		}
	}
	input[type="button"].confirm-click,
	button.confirm-click {
		color: #fff;
		border: 1px solid #883A3D !important;
		background-image: -webkit-linear-gradient(top, rgb(211,30,0), rgb(149,0,0) 50%, rgb(113,0,0) 51%, rgb(218,0,0));
		background-color: #ff7578;
		text-shadow: 0 1px 0 rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 0 1px rgba(255,0,0,0.5);
		-webkit-animation: redPulseLion 0.5s ease-in 0 infinite alternate;
	}
		input[type="button"].confirm-click:active,
		button.confirm-click:active {
			color: #eee !important;
			background-image: -webkit-linear-gradient(top, rgb(191,30,0), rgb(129,0,0) 50%, rgb(93,0,0) 51%, rgb(98,0,0));
		}
select {
	padding: 1px 16px 2px 8px;
	background: url(../images/select-arrows.png) no-repeat right top, -webkit-linear-gradient(top, rgb(255,255,255), rgb(255,255,255) 43%, rgb(252,252,252) 43%, rgb(243,243,243) 60%, rgb(239,239,239));
}
	select:active {
		background: url(../images/select-arrows.png) no-repeat right top, -webkit-linear-gradient(top, rgb(235,235,235), rgb(235,235,235) 43%, rgb(232,232,232) 43%, rgb(223,223,223) 60%, rgb(219,219,219));
	}
	ul li input[type="button"] {
		max-width: 13%;
	}
	body.simple ul li input[type="button"] {
		max-width: 17%;
	}
.divider {
	margin-top: 6px;
}