body,
header h1,
p.misc-info,
p.misc-info select {
	font-size: 11pt;
}

#domain-script,
#domain-picker {
	max-width: 310px;
}
	body.simple #domain-script,
	body.simple #domain-picker {
		max-width: 240px;
	}

select {
	background-position: right 1px, left top, left top;
}
	p.misc-info select {
		background-position: right 2px, left top, left top;
	}

input,
button,
textarea,
select,
ul,
ul li small,
#disclaimer,
#rules-list,
#misc,
.poppy,
#snapshots {
	font-size: 9pt;
}

body.windows input,
body.windows select,
body.windows button,
body.windows textarea,
p.misc-header,
.domain-name,
#setup,
#find-bar #find-bar-matches {
	font-size: 10pt;
}

header h3,
header a {
	font-size: 13px;
}

#disclaimer input {
	font-size: 8pt;
}

.poppy #rule-input,
.poppy #rule-options {
	width: 400px;
}
	body.simple .poppy #rule-input,
	body.simple .poppy #rule-options {
		width: 300px;
	}

#main .item-list-container select {
	left: -3px;
	max-width: 195px;
}
	#main .item-list-container .rule-input {
		max-width: 234px;
	}
#main .some-helper {
	font-size: 9pt;
}

#main .filter-bar li {
	font-size: 9pt;
}

#main .filter-bar {
	font-size: 10pt;
}

#main .actions-bar li {
	padding: 1px 1px 0px 1px !important;
}

.host-section-host {
	font-size: 10pt;
}

body.simple #main ul.show-per-host li span {
	max-width: 82%;
}
	body.simple #main .column.expanded ul.show-per-host li span {
		max-width: 91%;
	}

.section-host {
	max-width: 426px;
}
	body.simple .section-host {
		max-width: 326px;
	}

.filter-bar .text-filter,
.filter-bar .li-text-filter {
	width: 495px;
}
	body.simple .filter-bar .text-filter,
	body.simple .filter-bar .li-text-filter {
		width: 395px;
	}
ul li > span {
	height: 22px;
}
ul li span.domain-description {
	height: 19px;
}

.scripts-count-type {
	font-size: 9pt;
}