/***************************************
 * @file css/main.css
 * @author Travis Roman (travis@toggleable.com)
 * @package JavaScript Blocker (http://javascript-blocker.toggleable.com)
 ***************************************/

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
::-webkit-scrollbar-track {
	-webkit-border-radius: 5px;
	border-top: 1px solid rgba(0,0,0,0.15);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.02));
}
::-webkit-scrollbar-track:vertical {
	border-top: none;
	border-left: 1px solid rgba(0,0,0,0.15);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.02));
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-top: 1px solid rgba(0,0,0,0.01);
	background: -webkit-linear-gradient(top, #bbb, #999);
}
::-webkit-scrollbar-thumb:vertical {
	border-left: 1px solid rgba(0,0,0,0.01);
	background: -webkit-linear-gradient(180deg, #999, #bbb);
}

@-webkit-keyframes bluePulse {
	0% {
		box-shadow: inset 0 19px 0 rgba(0,103,192,0), inset 0 1px 0 rgba(255,255,255,0.6), 0 1px 0 rgba(0,0,0,0.1);
	}
	100% {
		box-shadow: inset 0 19px 0 rgba(0,103,192,0.25), inset 0 1px 0 rgba(255,255,255,0.9), 0 1px 0 rgba(0,0,0,0.1);
	}
}

html {
	height: 100%;
}

body {
	font: -webkit-control;
	font-size: 10pt;
	line-height: 1.5;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	padding: 0;
	margin: 0;
	width: 560px;
	height: 100%;
	color: #3A3A3A;
	overflow: hidden;
	background: -webkit-linear-gradient(top, rgba(255,255,255,.6), rgba(248,248,248,.6));
	text-rendering: optimizeLegibility;
}
	body.simple {
		width: 460px;
	}

	body.no-select, body.no-select * {
		-webkit-user-select: none;
	}

header.main-header {
	position: fixed;
	top: 5px;
	width: 560px;
	height: 20px;
	padding: 0;
	margin: 0;
	display: none;
}
	body.simple header.main-header {
		width: 460px;
	}
header h1 {
	font-size: 10pt;
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: normal;
	color: #5a5a5a;
}
	#modal header h1 {
		color: #eee;
		text-shadow: 0 1px 0 rgba(0,0,0,0.7);
	}
#container {
	z-index: 1;
	position: absolute;
	width: 560px;
	height: 100%;
	overflow: hidden;
	margin: 0 0 0 0;
/*	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) 2%, rgba(0,0,0,1) 98%, rgba(0,0,0,0)); */
}
	body.simple #container {
		width: 460px;
	}
	body.busy *,
	#container.loading * {
		cursor: wait !important;
	}
.whoop {
	width: 560px;
	height: 100%;
	overflow-y: scroll !important;
	overflow-x: hidden;
	padding-top: 6px;
	box-sizing: border-box;
}
	body.simple .whoop {
		width: 460px;
	}
	#misc {
		overflow-x: auto !important;
	}
	#misc-content p {
		padding: 10px;
	}
	#modal,
	.zoom-window-animating {
		position: absolute !important;
	}
	#main {
		padding-top: 0;
	}
		body.simple #main {
		}
		#main::-webkit-scrollbar-track:vertical {
			border-top-left-radius: 0;
		}

	#rules-list,
	#modal,
	#misc,
	#snapshots,
	#disabled {
		display: none;
	}
	.zoom-window-animating {
		display: block;
	}
	.allowed-blocked-columns {
		display: -webkit-box;
	}
	.allowed-column {
		border-right: 1px solid #d6d6d6;
	}
	.blocked-column {
		border-left: 1px solid #fff;
		background: rgba(0,0,0,0.015);
	}
	.column {
		-webkit-box-flex: 1;
		width: 273px;
		min-width: 79px;
		-webkit-transition-property: border-color, min-height, width, margin-top, margin-left, margin-right, background;
		-webkit-transition-duration: 400ms,  200ms, 200ms, 200ms, 200ms, 200ms, 150ms;
		margin-top: 0;
		margin-left: 0;
		padding-bottom: 1px;
		border-top: 1px solid transparent;
	}
		body.simple .column {
			width: 223px;
		}
		body.slow-animations .column {
			-webkit-transition-duration: 8s,  4s, 4s, 4s, 4s, 4s, 3s;
		}
		body.no-animations .column {
			-webkit-transition: none;
		}
	.column.expanded {
		width: 555px;
		margin-top: 28px;
		margin-left: -161px;
		border-color: transparent !important;
	}
		body.simple .column.expanded {
			width: 455px;
		}
	.allowed-column.column.expanded {
		margin-left: 0;
		margin-right: -160px;
		-webkit-transition-duration: 100ms,  200ms, 200ms, 200ms, 200ms, 200ms, 150ms;
	}
		body.slow-animations .allowed-column.expanded {
			-webkit-transition-duration: 2s, 4s, 4s, 4s, 4s, 4s, 3s;
		}
	.allowed-blocked-columns:not(.none-expanded) .column-collapsed,
	body.simple .allowed-blocked-columns:not(.none-expanded) .column-collapsed {
		width: 161px;
		min-height: 25px;
		height: 25px;
	}
	.allowed-blocked-columns:not(.none-expanded) .column.column-collapsed {
		background: none !important;
		border-color: transparent !important;
	}
	.blocked-column.expanded {
		border-top: 1px solid rgba(0,0,0,0.09) !important;
	}

#indic {
	display: none;
	width: 20px;
	background: red;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999999999;
}

#resize-handler {
	position: fixed;
	bottom: 0;
	height: 8px;
	width: 98%;
	cursor: ns-resize;
	-webkit-user-select: none;
}

#update-warn,
#quick-add-info {
	position: fixed;
	left: 0;
	background: #fff;
	z-index: 9998;
	width: 100%;
	text-align: center;
	font-size: 8pt;
	box-shadow: 0 1px 1px rgba(0,0,0,0.07);
	border-bottom: 1px solid rgba(0,0,0,0.17);
	display: none;
}
	#update-warn p {
		margin: 6px 0 5px;
	}
	#quick-add-info {
		z-index: 9997;
		text-align: left;
	}
	#quick-add-info p {
		padding: 0 10px 0 2px;
		margin: 2px 0 3px;
	}
	#quick-add-popup-block {
		text-align: right;
	}
	.quick-add-more {
		color: #999;
	}
	#quick-add-select {
		max-width: 310px;
	}
		#quick-add-select.temporary {
			max-width: 240px;
		}
		body.simple #quick-add-select {
			max-width: 260px;
		}
		body.simple #quick-add-select.temporary {
			max-width: 190px;
		}
#modal,
#disabled {
	width: 560px;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
}
	body.simple #modal,
	body.simple #disabled {
		width: 460px;
	}
	.embossed {
		color: rgba(0,0,0,0.2);
		font-weight: bold;
		text-shadow: 0 1px 1px #fff, 0 0 0 rgba(0,0,0,0.2), 0 0 1px #fff;
	}
	body.disabled #disabled {
		display: block;
		background: transparent;
		text-align: center;
		top: 30px;
		padding: 70px 0 0;
		pointer-events: none;
		font-size: 15pt;
		box-sizing: border-box;
	}
	.domain-disabled {
		text-align: center;
		font-size: 12pt;
	}
		.domain-disabled p {
			margin: 3px 0;
		}
	
#domain-script,
#domain-picker {
	max-width: 235px;
}
	#domain-picker[type="text"] {
		padding-top: 3px;
		padding-bottom: 3px;
	}
	body.simple #domain-script,
	body.simple #domain-picker {
		max-width: 235px;
	}
	#which-type {
		margin-left: 0;
	}
	select.single {
		margin-left: -1px;
		margin-right: -1px;
		background: none;
		border-color: transparent;
		box-shadow: none;
		padding-left: 0;
		padding-right: 0;
		text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	}

#donation-id {
	width: 230px;
}
input,
select,
button,
textarea {
	background: rgba(255,255,255,0);
	border: none;
	-webkit-border-radius: 4px;
	color: #0069de;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	border: 1px solid rgba(0,0,0,0.02);
}
	body.windows input,
	body.windows select,
	body.windows button,
	body.windows textarea {
		font: -webkit-control;
		font-size: 8pt;
		padding-top: 2px;
		padding-bottom: 3px;
	}
		body.windows textarea {
			padding-top: 3px;
			padding-bottom: 2px;
		}
	input[disabled],
	select[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
		input[disabled] + label,
		select[disabled] + label {
			opacity: 0.5;
		}
/*	input[type="checkbox"] {
		display: none;
	}
		input[type="checkbox"] + label {
			background: -webkit-canvas(checkbox) left 2px no-repeat;
			background-size: 10px 10px;
			padding-left: 12px;
		}
		input[type="checkbox"]:checked + label {
			background-image: -webkit-canvas(checkbox-checked);
		}*/
	input:not([type="checkbox"]):not([type="radio"]):focus, select:focus, button:focus, textarea:focus {
		outline: none !important;
		box-shadow: 0 0 1px rgb(20, 158, 255), inset 0 0 1px rgb(20, 158, 255);
	}
	input:not([type="checkbox"]):not([type="radio"]):not([type="text"]):not([type="search"]):focus, select:focus, button:focus {
		border-color: rgb(20,158,255);
	}
	input[type="button"]:not(.delete):active,
	button:not(.delete):active {
		background: rgba(0,0,0,0.015);
		color: #094e96;
		-webkit-animation: none;
	}
	input[type="text"],
	input[type="search"] {
		padding: 2px;
	}
	input[type="text"],
	input[type="search"],
	textarea {
		-webkit-border-radius: 0;
		background: #fff;
		border: 1px solid rgba(0,0,0,0.12);
		border-bottom-color: #a7c1d9;
		box-shadow: none;
		color: #111;
		font-size: 8pt;
	}
	input[type="text"]:focus,
	input[type="search"]:focus,
	textarea:focus {
		border-color: rgba(0,0,0,0.17);
		border-bottom-color: #0069de;
		box-shadow: none !important;
	}
	input[type="search"] {
		padding: 2px;
		-webkit-appearance: none;
	}
		::-webkit-input-placeholder {
			padding-right: 0%;
			text-align: center;
			-webkit-transition: padding-right 0.35s ease-in-out;
		}
		*:focus::-webkit-input-placeholder {
			padding-right: 92%;
		}
		body.slow-animations ::-webkit-input-placeholder {
			-webkit-transition-duration: 8s;
		}
		body.no-animations ::-webkit-input-placeholder {
			-webkit-transition-duration: 0s;
		}
		body.windows input[type="search"] {
			padding: 1px 2px;
		}
	input[type="checkbox"] {
		margin-left: 0;
	}
	input.onenter,
	button.onenter {
		font-weight: bold !important;
	}

@-webkit-keyframes redPulse {
	0% {
		background: #ff3b30;
	}
	100% {
		background: #e9001b;
	}
}

.delete {
	color: #ff3b30;
}
	input.delete:active,
	button.delete:active {
		color: #fa2025;
		background: rgba(0,0,0,0.015);
	}

.purple {
	color: #b14bc9;
}
	li.purple:active,
	li.purple.selected {
		background: #b14bc9 !important;
	}

input[type="button"].orange,
button.orange,
.info-link.orange {
	color: #fb6808;
}
	li.orange:active,
	li.orange.selected {
		background: #fb6808 !important;
	}
	input[type="button"].orange:active,
	button.orange:active,
	.info-link.orange:active {
		color: #f7500c;
	}
	input[type="text"].orange,
	input[type="search"].orange,
	textarea.orange {
		border-bottom-color: #f3d3c0;
	}
		input[type="text"].orange:focus,
		input[type="search"].orange:focus,
		textarea.orange:focus {
			border-bottom-color: #fb6808;
		}

.info-link.orange {
	border-color: #fb6808;
}
	.info-link.orange:active {
		border-color: #f66707;
	}

input[type="button"].purple,
button.purple {
	color: #b14bc9;
}
	li.purple:active,
	li.purple.selected {
		background: #b14bc9 !important;
	}
	input[type="button"].purple:active,
	button.purple:active {
		color: #a02fbd;
	}
	input[type="text"].purple,
	input[type="search"].purple,
	textarea.purple {
		border-bottom-color: #cfbfd4;
	}
		input[type="text"].purple:focus,
		input[type="search"].purple:focus,
		textarea.purple:focus {
			border-bottom-color: #b14bc9;
		}

input[type="button"].confirm-click,
button.confirm-click {
	color: #fff;
	background: #ff3b30;
	border-color: #ff3b30;
	text-shadow: none;
	-webkit-animation: redPulse 0.5s linear 0 infinite alternate;
}
	input[type="button"].confirm-click:active,
	button.confirm-click:active {
		color: #fff;
		background: #fa2025;
	}
select {
	font-size: 8pt;
	border: 1px solid rgba(0,0,0,0.09);
	-webkit-appearance: none;
	padding: 1px 16px 2px 6px;
	color: #3A3A3A;
	-webkit-border-radius: 3px;
	background: url(../images/select-arrows.png) no-repeat right top, -webkit-linear-gradient(top, rgb(255,255,255), rgb(249,249,249));
	background-size: 20px 16px, auto auto;
}
	select:active {
		background: url(../images/select-arrows.png) no-repeat right top, -webkit-linear-gradient(top, rgb(249,249,249), rgb(255,255,255));
		background-size: 20px 16px, auto auto;
	}
	select.single {
		background: none !important;
		box-shadow: none !important;
		border-color: transparent !important;
		padding-left: 0 !important;
	}
	body.windows #page-list {
		pointer-events: none;
		background: none;
	}

.allowed-label,
.allowed-color {
	color: #008913 !important;
}

.blocked-label,
.blocked-color {
	color: #920101 !important;
}

body:not(.simple) .rule.temporary {
	font-style: oblique;
}
.unblocked-label {
	color: #777;
}

#rule-options-link {
	margin-left: 10px;
	display: inline-block;
}

#rule-options {
	white-space: pre;
	padding-bottom: 5px;
}

#quick-add-rule {
	position: relative;
	padding-left: 15px;
}
	#quick-add-rule .bubble {
		top: 5px;
	}

.bubble {
	display: inline-block;
	position: absolute;
	top: 7px;
	left: 1px;
	height: 9px;
	width: 9px;
	-webkit-border-radius: 5px;
	border: 1px solid #000;
	background: transparent url(../images/null.gif) no-repeat 3px top;
	box-shadow: 0 1px 0 rgba(0,0,0,0.25), 0 -1px 0 rgba(0,0,0,0.25),
		1px 0 0 rgba(0,0,0,0.25), -1px 0 0 rgba(0,0,0,0.25),
		inset 0 4px 0 rgba(255,255,255,0.25), inset 0 2px 0 rgba(255,255,255,0.35);
}
	.bubble.temporary {
		background-image: url(../images/hands.png);
		background-size: 5px 8px;
		box-shadow: 0 1px 0 rgba(0,0,0,0.25), 0 -1px 0 rgba(0,0,0,0.25),
			1px 0 0 rgba(0,0,0,0.25), -1px 0 0 rgba(0,0,0,0.25);
	}
		.bubble-0.temporary,
		.bubble-2.temporary,
		.bubble-4.temporary {
			background-image: url(../images/hands-light.png);
			background-size: 5px 8px;
		}
	.bubble-0,
	.bubble-2,
	.bubble-4 {
		background-color: #d40202;
		border-color: #a80101;
	}
	.bubble-1,
	.bubble-3,
	.bubble-5,
	.bubble--2 {
		background-color: #33db12;
		border-color: #1eab06;
	}
	.bubble-42 {
		background-color: #f6e600;
		border-color: #ccbf0d;
	}
	.bubble-4 .inner-bubble,
	.bubble-5 .inner-bubble {
		width: 3px;
		height: 3px;
		position: absolute;
		left: 2px;
		top: 2px;
		background: rgba(0,0,0,0.8);
		border: 1px solid rgba(255,255,255,0.8);
		-webkit-border-radius: 2px;
	}
	.bubble-900 {
		border-color: rgba(0,0,0,0.5);
	}

.label {
	color: #888;
}

label {
	color: #555;
}

.rule.type-7 {
	color: #BF01A2;
}

.allowed-label,
.blocked-label,
.unblocked-label {
	display: inline-block;
	cursor: default;
	margin: 3px 0 0 1px;
	padding-left: 10px;
	background: url(../images/disclosure-open.png) no-repeat left 5px;
	background-size: 8px 8px;
}
	.allowed-label.hidden,
	.blocked-label.hidden,
	.unblocked-label.hidden {
		background-image: url(../images/disclosure-closed.png);
		background-size: 8px 8px;
	}
	.allowed-label.no-disclosure,
	.blocked-label.no-disclosure {
		background: none;
		padding-left: 0;
		margin: 0;
	}
	.scripts-count-type {
		color: #bbb;
		font-size: 8pt;
	}

#reset-domain,
#beautify-script,
#create-snapshot {
	position: absolute;
	top: -3px;
	right: 2px;
}
.block-domain,
.allow-domain {
	float: right;
	margin-right: 4px;
	margin-left: 2px;
}
	.domain-options {
		float: right;
		margin-top: 3px;
		max-width: 360px;
		margin-right: 0;
	}
	body.simple .domain-options {
		max-width: 260px;
	}
	#main .item-list-container {
		position: relative;
		
	}
	#main .item-list-container select,
	#main .item-list-container .rule-input {
		position: relative;
		left: -1px;
		top: -2px;
		margin-bottom: 1px;
		width: 89%;
	}
		#main .item-list-container .rule-input {
			width: 89%;
			top: 1px;
			margin-bottom: 0px;
		}
		body.windows #main .item-list-container select {
			width: 88%;
		}
		body.windows #main .item-list-container .rule-input {
			width: 88%;
		}

	#main .item-list-container li .some-checkbox {
		position: relative;
		top: -7px;
		left: 1px;
		right: auto;
	}
		#main .item-list-container li.kind-special .some-checkbox {
			top: -2px;
		}
		body.simple #main .item-list-container li .some-checkbox {
			top: -2px;
		}
	.some-helper {
		font-size: 8pt;
		margin: 0 0 2px;
	}
		.some-helper p {
			margin: 3px 0 3px 2px;
		}
			.some-helper p.misc-info {
				margin-bottom: 6px;
			}
		.some-helper .which-type {
			position: relative;
			top: 0;
			margin-left: 0;
		}
		.some-helper .domain-picker {
			max-width: 231px;
		}
			body.simple .some-helper .domain-picker {
				max-width: 184px;
			}
		.some-helper > .divider {
			margin-top: 6px;
		}
		.some-list .main-wrapper .some-thing {
			padding-top: 3px;
			overflow: hidden;
			position: relative;
		}
			body.window .some-list .main-wrapper .some-thing {
				left: 1px;
			}
		.some-list select.single {
			padding-left: 1px !important;
		}

.blocked-script-urls,
.allowed-script-urls,
.unblocked-script-urls {
	overflow: hidden;
	margin-top: 3px;
}

.urls-wrapper .no-items {
	text-align: center;
	font-size: 12pt;
	white-space: nowrap;
}
	.urls-wrapper .no-items.hidden {
		display: none;
	}

.info-container {
	position: relative;
	margin-top: 2px;
}
	#rules-list .info-container,
	#snapshots .info-container {
		margin-top: -10px;
	}
	.all-action-link,
	.all-action-link:hover {
		float: right;
		position: relative;
		top: 0;
		right: 2px;
	}	
	.column-collapsed .all-action-link {
		display: none;
	}

ul {
	list-style-type: none;
	padding-left: 0;
	/*padding-bottom: 1px;*/
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 8pt;
}

.info-link {
	display: inline-block;
	border: 1px solid #0069de;
	padding: 0px 1px 1px 2px;
	-webkit-border-radius: 20px;
	height: 14px;
	width: 12px;
	text-align: center;
	font-size: 8pt;
	cursor: default;
	-webkit-user-select: none;
	color: #0069de;
	-webkit-transition: opacity 0.15s;
}
	.urls-wrapper .info-link {
		position: absolute;
		top: 5px;
		opacity: 0.13;
	}
	.info-link:active {
		background: rgba(0,0,0,0.015);
		border-color: #094e96;
		color: #094e96;
	}
	li:hover .info-link {
		opacity: 1;
	}
	.poppy .info-link {
		position: absolute;
		top: 10px;
		right: 18px;
		width: 15px;
		height: 17px;
		font-size: 10pt;
	}

.main-wrapper {
	margin-left: 0;
}

span.rule {
	padding-left: 16px;
}
body:not(.disabled) .main-wrapper li span,
#rules-list li span.rule {
	cursor: pointer;
}
	body.disabled .main-wrapper input,
	body.disabled #main .info-container input {
		visibility: hidden;
	}
	body:not(.disabled) .main-wrapper li span.item-text:hover,
	#rules-list li span.rule:hover,
	#rules-list li span.rule:hover * {
		color: #0B37B4 !important;
	}
	.main-wrapper li {
		padding-right: 2px;
	}
ul li {
	top: 0;
	position: relative;
	padding-top: 5px;
}
	ul li.none,
	ul li.old-none,
	ul li.used-none,
	ul li.show-more-hidden {
		display: none;
	}
	ul li.unblockable span {
		font-style: oblique;
	}
	#rules-list-scripts ul li {
		overflow: hidden;
	}
	.rules-list-container {
		margin-left: 2px;
	}

ul li > span {
	display: inline-block;
	max-width: 99%;
	overflow: auto;
	white-space: nowrap;
	padding-bottom: 2px;
	height: 20px;
}
	.domain-name > span {
		height: 23px;
	}
	ul li span.domain-description {
		position: relative;
		color: #959595;
		height: 18px;		
		pointer-events: none;
		padding-bottom: 0;
	}
	ul li span.expanded {
		height: 35px;
	}
	ul li.domain-name span.nodbl {
		padding-bottom: 0;
	}
	#rules-list ul li span {
		max-width: 441px;
	}
	#rules-list ul li.domain-name span {
		padding-bottom: 0;
	}
	body.simple #rules-list ul li span {
		max-width: 349px;
	}
	#rules-list ul li.domain-name:not(.editing) span {
		max-width: 538px;
	}
	body.simple #rules-list ul li.domain-name:not(.editing) span {
		max-width: 438px;
	}
	#main ul li > span {
		max-width: 93%;
		margin-left: 20px;
	}
		#main .column.expanded ul li > span {
			max-width: 96%;
		}
		body.simple #main ul li > span {
			max-width: 96%;
		}
		body.simple #main ul.show-per-host li span {
			max-width: 83%;
		}
			body.simple #main .column.expanded ul.show-per-host li span {
				max-width: 91%;
			}
		#main .unblocked-script-urls li span {
			max-width: 100% !important;
			margin-left: 2px !important;
		}
	#main li.hidden,
	#main li.hidden-by-rule {
		display: none;
	}
		#main li.hidden-by-rule.show-for-now {
			display: list-item;
			font-weight: bold;
		}
	body.highlight-matched #main ul li.by-rule:not(.unblockable) {
		/*background: -webkit-linear-gradient(left, rgba(44,158,250,0), rgba(44,158,250,0.07) 20%, rgba(44,158,250,0.09) 50%, rgba(44,158,250,0.07) 80%, rgba(44,158,250,0));*/
		background: rgba(44,158,250,0.05);
	}
	body.highlight-matched #main ul li.by-rule.rule-type-4:not(.unblockable) {
		/*background: -webkit-linear-gradient(left, rgba(255,0,60,0), rgba(255,0,60,0.05) 20%, rgba(255,0,60,0.06) 50%, rgba(255,0,60,0.05) 80%, rgba(255,0,60,0));*/
		background: rgba(255,0,40,0.03);
	}
		body.highlight-matched #main .allowed-column li.by-rule.rule-type-5:not(.unblockable) {
			/*background: -webkit-linear-gradient(left, rgba(0,255,0,0), rgba(0,255,0,0.05) 20%, rgba(0,255,0,0.1) 50%, rgba(0,255,0,0.05) 80%, rgba(0,255,0,0));*/
			background: rgba(0,255,0,0.062);
		}
	.unblocked-script-urls li span {
		max-width: 100% !important;
		margin-left: 0 !important;
	}
	span.HTTPS,
	select.HTTPS {
		color: #956B05;
	}
	span.FTP,
	select.FTP {
		color: #950085;
	}
	span.SAFARI-EXTENSION,
	select.SAFARI-EXTENSION {
		color: #0851FE;
	}
	ul li small {
		font-size: 8pt;
		color: #777;
		float: right;
	}
		ul li small .show-scripts {
			padding-left: 3px;
		}
	ul li span::-webkit-scrollbar,
	ul li a::-webkit-scrollbar,
	p.misc-header::-webkit-scrollbar,
	.section-host::-webkit-scrollbar {
		height: 4px;
	}
	ul li span::-webkit-scrollbar-track,
	ul li a::-webkit-scrollbar-track,
	.section-host::-webkit-scrollbar-track {
		-webkit-border-radius: 2px;
		background: -webkit-linear-gradient(top, #dfdfdf, rgba(255,255,255,0));
		border-top: 1px solid #ddd;
	}
	ul li span::-webkit-scrollbar-thumb,
	ul li a::-webkit-scrollbar-thumb,
	.section-host::-webkit-scrollbar-thumb,
	.column textarea::-webkit-scrollbar-thumb {
		-webkit-border-radius: 2px;
		border-top: 1px solid rgba(187,187,187,0.05);
		background: -webkit-linear-gradient(top, rgba(211,211,211,0.3), rgba(143,143,143,0.3));
	}
		ul li span:hover::-webkit-scrollbar-thumb,
		ul li a:hover::-webkit-scrollbar-thumb,
		.section-host:hover::-webkit-scrollbar-thumb,
		.column textarea:hover::-webkit-scrollbar-thumb,
		.column textarea:focus::-webkit-scrollbar-thumb  {
			border-top: 1px solid rgba(187,187,187,1);
			background: -webkit-linear-gradient(top, rgba(211,211,211,1), rgba(143,143,143,1));
		}
#main ul li input,
#rules-list ul li input {
	position: absolute;
	right: 4px;
	top: 1px;
}
	#main ul li input[type="button"],
	#rules-list ul li input[type="button"] {
		width: 13.5%;
	}
	#main body.simple ul li input[type="button"],
	#rules-list body.simple ul li input[type="button"] {
		width: 17%;
	}

a {
	text-decoration: none;
	color: #0064E3;
	cursor: pointer;
}
	a:hover {
		color: #0B37B4;
		text-shadow: 0 1px 0 #fff;
	}
	a.toggle-main,
	a.toggle-rules,
	a.toggle-snapshots,
	#rule-sidebar header a {
		cursor: default;
	}

#rule-container {
	margin-top: 7px;
}

#disclaimer input {
	float: right;
	margin-left: 4px;
	margin-bottom: 3px;
	font-size: 7pt;
	border-color: #b4b4b4;
	margin-bottom: 0;
}
	p.hidden,
	.filter-bar .hidden,
	#above-temporary.hidden,
	#filter-temporary.hidden {
		display: none;
	}

#disclaimer {
	font-size: 8pt;
	color: #999;
}
	#disclaimer p {
		margin-bottom: 0;
		margin-top: 5px;
	}

#rules-list,
#misc,
#update-information,
#snapshots {
	font-size: 8pt;
	display: none;
}
#rules-list #data {
	margin-top: -4px;
	padding-bottom: 1px;
}

header h3 {
	float: left;
	font-size: 12px;
	text-transform: uppercase;
	color: rgb(111,126,153);
	padding: 0 4px;
	margin: 5px 0;
	cursor: default;
}
	.allowed-blocked-columns .urls-wrapper h3 {
		cursor: pointer;
	}
	.kind-header {
		position: relative;
		margin-top: -1px;
		padding-top: 4px;
		margin-bottom: 0px;
	}
		.kind-header h3 {
			margin-left: 3px;
		}
		.kind-header.floater,
		.info-container.floater,
		.rules-header.floater,
		.domain-name.floater {
			border-top-color: #fff !important;
			background-color: rgba(255,255,255,.98) !important;
		}
		.kind-header.floater,
		.info-container.floater,
		.rules-header.floater {
			padding-bottom: 0;
		}
		.domain-name.floater {
			border-bottom-color: #eee;
		}
		.domain-name.floater .divider {
			border-color: #fff;
			border-bottom-color: #eee;
		}
	#main h3 {
		padding: 0;
		margin-top: -1px;
		margin-bottom: 2px;
	}
	#rules-list h3 {
		float: left;
	}
	header a {
		visibility: hidden;
		float: left;
		margin-top: 5px;
		margin-left: 7px;
		font-size: 12px;
		color: rgb(151,165,185);
		font-weight: bold;
	}
		header:hover a {
			visibility: visible;
		}
		header a:hover {
			color: rgb(151,165,185);
		}
		header a:active {
			color: #4766E2;
		}
		#main header a {
			margin-top: -1px;
			margin-left: 10px;
		}
p.misc-info {
	text-align: center;
	font-size: 10pt;
	color: #5a5a5a;
}
	p.misc-info select {
		font-size: 10pt;
		color: #606060;
		background-position: 100% 1px, 0 0;
		max-width: 300px !important;
		margin-right: 23px;
	}
		p.misc-info select.no-margin {
			margin-right: 2px;
		}
		body.simple p.misc-info select {
			font-size: 10pt;
			color: #606060;
			background-position: 100% 1px, 0 0;
			max-width: 200px !important;
		}
	.whoop > p.misc-info,
	.whoop > .info-container > p.misc-info {
		padding-left: 6px;
	}
p.error {
	color: red;
}
p.misc-header {
	text-align: center;
	font-size: 9pt;
	color: #5a5a5a;
	width: 402px;
	padding-top: 2px;
	margin-left: 50px;
	overflow: auto;
	white-space: nowrap;
}
	body.simple p.misc-header {
		width: 302px;
	}
p.above-filter {
	margin-bottom: 2px;
	margin-top: 2px;
}
#rules-list #rules-list-back,
#rules-list #new-domain,
#misc #misc-close,
#snapshots #close-snapshots {
	position: absolute;
	top: -3px;
}

div.divider {
	width: 100%;
	height: 0;
	border-top: 1px solid rgba(0,0,0,0.07);
	border-bottom: 1px solid rgba(255,255,255,0.55);
	/*-webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0) 2%, rgba(0,0,0,1) 2%);*/
	clear: both;
}
	.divider.invisible {
		visibility: hidden;
	}
	.domain-name .divider {
		margin-bottom: 4px;
		display: none;
	}
	.domain-name input {
		margin-top: 4px;
		display: none;
	}
		.domain-name.even input {
			margin-top: 2px;
		}
		.domain-name.editing {
			padding-top: 5px !important;
			padding-bottom: 2px !important;
		}
		.even.domain-name.editing {
			padding-top: 2px !important;
			padding-bottom: 1px !important;
		}
		.domain-name.editing .divider,
		.domain-name.editing input {
			display: block;
		}
		.domain-name.editing + li.domain-rules {
			display: none;
		}

#snapshots .divider {
	margin-top: 4px;
}

#snapshots #current-snapshots {
	margin-left: 0;
}

#snapshots .keep-snapshot {
	margin-left: 10px;
}

#snapshots .snapshot-date {
	max-width: 444px;
	overflow: auto;
	white-space: pre;
	display: inline-block;
}
	body.simple #snapshots .snapshot-date {
		max-width: 344px;
	}
	.snapshot-date.equal:after,
	#rule-options li:last-child a:after {
		color: #aaa;
		padding-left: 4px;
		text-align: right;
		content: ' current';
	}
	#rule-options li:last-child a:after {
		content: ' default';
	}

#snapshots .using a {
	color: #b14bc9;
	font-weight: bold;
}

#snapshots #snapshots-info {
	padding: 1px 5px;
}

#snapshots .preview-snapshot {
	position: absolute;
	right: 2px;
	top: -1px;
	max-width: none;
	width: auto;
}

#snapshots .snapshots-list-container {
	overflow: hidden;
	margin-top: -7px;
}

#snapshots .snapshots-wrapper {
	margin-top: -3px;
	margin-bottom: 6px;
	margin-left: 0px;
}

#snapshots .snapshots-wrapper li {
	padding: 3px 0 0 4px;
}
	#snapshots .snapshots-wrapper li .divider {
		margin-left: -4px;
		padding-right: 4px;
	}

#snapshots .snapshots-wrapper li:first-child {
	padding-top: 0;
}
	#snapshots .snapshots-wrapper li:first-child .preview-snapshot {
		top: -4px;
	}

#unkept-snapshots,
#kept-snapshots {
	padding-top: 0;
	padding-bottom: 7px;
}

.domain-name {
	margin-left: -10px;
	background: url(../images/disclosure-open.png) no-repeat 1px 10px;
	background-size: 8px 8px;
	padding: 5px 0 2px 11px;
	font-size: 10pt;
	cursor: default;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
	li.odd {
		background-color: #fdfdfd;
	}
	li.even.hidden {
		padding-bottom: 1px;
		padding-top: 6px;
	}
	li.odd.domain-name {
		border-top: 1px solid rgba(0,0,0,0.09);
	}
	li.odd.domain-name + .domain-rules,
	li.odd.domain-name.hidden,
	li.odd.domain-name.editing {
		border-bottom: 1px solid rgba(0,0,0,0.09);
	} 
	li.even.domain-name,
	li.even.domain-name.hidden {
		border-top-color: #fff;
		padding-top: 2px;
		background-position: 1px 7px;
	}
	.domain-name:not(.no-disclosure).current-selection {
		background: url(../images/disclosure-open.png) no-repeat 1px 8px, -webkit-linear-gradient(top, rgb(80,175,228), rgb(38,143,212)) !important;
		background-size: 8px 8px;
	}
	.domain-name + li.domain-rules {
		overflow: hidden;
		padding-top: 0;
		margin-left: -15px;
		padding-left: 5px;
	}
	.domain-name.hidden {
		background-image: url(../images/disclosure-closed.png);
		background-size: 8px 8px;
	}
	.domain-name.hidden:not(.no-disclosure).current-selection {
		background-image: url(../images/disclosure-closed.png), -webkit-linear-gradient(top, rgb(80,175,228), rgb(38,143,212)) !important;
		background-size: 8px 8px;
	}
	.domain-name.hidden + li.domain-rules,
	.domain-name.domain-filter-hidden,
	.domain-name.active-hidden,
	.domain-name.visibility-hidden,
	.domain-name.state-hidden,
	.domain-name.page-hidden,
	.domain-name.domain-hidden,
	.domain-name.domain-filter-hidden + li.domain-rules,
	.domain-name.active-hidden + li.domain-rules,
	.domain-name.visibility-hidden + li.domain-rules,
	.domain-name.state-hidden + li.domain-rules,
	.domain-name.page-hidden + li.domain-rules,
	.domain-name.domain-hidden + li.domain-rules {
		display: none;
	}
	.domain-name.no-disclosure {
		background-image: none;
		padding-top: 0;
		padding-bottom: 0;
	}
		.poppy .domain-name.no-disclosure {
			margin-left: -20px;
		}
		.poppy .rules-wrapper {
			margin-left: 15px;
		}

	.domain-rules > ul {
		padding-left: 5px;
		margin-top: -3px;
	}

.host-section-host {
	padding: 3px 0;
	font-size: 9pt;
	margin-left: -2px;
	background: -webkit-linear-gradient(top, #ffffff, #fafafa);
	border-bottom: 1px solid rgba(0,0,0,.16);
	position: relative;
}
	.host-section-host.floater {
		border-bottom-color: transparent;
		border-top-color: #fcfcfc;
	}
	.host-section-host.floater .floater-divider {
		margin-top: 3px;
		border-top-color: rgba(0,0,0,0.16);
		border-bottom: none;
	}
	.host-section-host .label {
		color: #888;
	}
	.host-section-host .host-divider {
		position: relative;
		display: inline-block;
		width: 1px;
		height: 14px;
		background: rgba(0,0,0,0.13);
		border-right: 1px solid #fff;
		margin: 0 5px;
		top: 2px;
		color: transparent;
	}
	.section-host {
		display: inline-block;
		overflow: auto;
		max-width: 440px;
		white-space: pre;
		color: #4a4a4a;
	}
		body.simple .section-host {
			max-width: 340px;
		}
		body.windows .section-host {
			padding-right: 4px;
		}

.host-section {
	border-bottom: 1px solid rgba(0,0,0,0.17);
	box-shadow: 0 1px 1px rgba(0,0,0,0.07);
	background: #fff;
	margin-bottom: 11px;
}

.host-section-host,
.unblocked-section {
	border-top: 1px solid rgba(0,0,0,0.12)
}

.host-section:first-child {
	border-top-color: rgba(0,0,0,0.16);
}

.host-section:last-child {
	margin-bottom: 10px;
}

.host-toggler {
	position: absolute;
	top: 0;
	right: 2px;
}

.host-section-host .label {
	margin-left: 6px;
}

.host-section-host a {
	color: #375eb5;
}
	.host-section-host a:hover {
		color: #004db1;
	}

.snapshot-info {
	display: none;
	margin-top: -10px;
}
	#main .snapshot-info {
		margin-top: 5px;
		margin-bottom: 6px;
	}
.zoom-window {
	box-shadow: 0 3px 30px rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
}
	.zoom-window-open {
		-webkit-border-radius: 0;
	}

.filter-bar,
#find-bar {
	margin-top: 5px;
	box-shadow: 0 -1px 0 #e4e4e4;
	border-bottom: 1px solid #ccc;
	width: 547px;
	padding: 2px 3px 3px;
	background: -webkit-linear-gradient(top, #ffffff, #fafafa);
	-webkit-user-select: none;
}
	#rules-filter-bar {
		padding-bottom: 0;
	}
	body.simple .filter-bar,
	body.simple #find-bar {
		width: 447px;
	}
	.filter-bar {
		margin-top: 0;
		padding-top: 1px;
	}
	.actions-bar {
		border-top-color: rgb(200,200,200);
		border-bottom-color: rgb(220,220,220);
		background: -webkit-linear-gradient(top, #ffffff, #fafafa) !important;
		padding-left: 1px;
		cursor: default;
		margin-bottom: -2px;
		padding-bottom: 0;
		width: 549px;
	}
		body.simple .actions-bar {
			width: 449px;
		}
		#main .actions-bar {
			box-shadow: 0 -1px 0 #fff, 0 1px rgba(255,255,255,0.4);
			margin-bottom: 7px;
			margin-left: -3px;
			margin-top: 0;
			padding-left: 3px;
			position: relative;
			width: 549px;
			color: #666;
			padding-right: 4px;
		}
			body.simple #main .actions-bar {
				width: 449px;
			}
			#main .actions-bar ul {
				margin-bottom: 0;
			}
		#main .actions-bar li {
			padding: 1px 3px 0px 3px !important;
			-webkit-border-radius: 0;
			font-size: 8pt;
			text-shadow: none;
			height: 16px;
			margin-top: -1px;
			font-weight: normal;
			text-shadow: 0 1px 0 #fff;
			border-radius: 3px;
		}
			#main .actions-bar li:not(#jsblocker-name):active {
				color: #444;
			}
			#main .actions-bar li:first-child,
			#main .actions-bar li.hidden:first-child + li {
				padding-left: 3px !important;
			}
			#jsblocker-name {
				position: absolute;
				right: 0;
				top: 1px;
				color: #bbb;
			}
				#jsblocker-name span {
					padding: 0;
					overflow: visible;
					margin: 0 !important;
				}
			#unlock {
				color: #803200;
			}
				#unlock.contribute {
					color: #178017;
				}
			body.disabled #disable {
				color: #008602;
			}
			#toggle-hidden.disabled {
				pointer-events: none;
				opacity: 0.45;
			}
				#toggle-hidden.hidden-visible {
					color: #0069de;
					background: #f0f7ff;
				}
		#main li.divider {
			margin-left: 2px;
		}

	.filter-bar .text-filter,
	.filter-bar .li-text-filter {
		margin-top: -2px;
		width: 505px;
	}
		body.simple .filter-bar .text-filter,
		body.simple .filter-bar .li-text-filter {
			width: 405px;
		}
		.filter-bar .li-text-filter {
			margin-top: 0;
			margin-bottom: 1px;
			margin-left: -5px;
		}
			body.simple.windows .filter-bar .li-text-filter {
				margin-left: -5px;
			}
	.filter-bar ul {
		margin: 0px 0 1px 0;
		float: left;
	}
		.filter-bar #filter-type-collapse {
			margin-top: 1px;
		}
		.filter-bar #filter-type-domain {
			margin-bottom: 2px;
			margin-top: 3px;
		}
			.actions-bar {
				margin-bottom: -2px;
				cursor: default;
			}
			#rules-list .filter-bar:not(.actions-bar) ul {
				margin: 3px 0 4px;
			}
			#rule-list-actions {
				position: relative;
				width: 100%;
			}
			#rule-list-actions li:not(.label):not(.text) {
				width: 16px;
				height: 16px;
				padding: 0;
				-webkit-border-radius: 0;
				background: url(../images/rule-list-actions.png) no-repeat;
				background-size: 48px 145px;
			}
				@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
					#rule-list-actions li:not(.label):not(.text) {
						background-image: url(../images/rule-list-actions@2x.png);
					}
				}
				#rules-list .actions-bar li.divider {
					margin-left: 10px;
					padding-left: 4px !important;
					-webkit-background-clip: content-box !important;
				}
				#rule-list-actions #collapse-all {
					background-position: left 0;
				}
					#rule-list-actions #collapse-all:active {
						background-position: -16px 0;
					}
				#rule-list-actions #expand-all {
					background-position: left -16px;
				}
					#rule-list-actions #expand-all:active {
						background-position: -16px -16px;
					}
				#rule-list-actions #edit-domains {
					background-position: 4px -32px;
				}
					#rule-list-actions #edit-domains:active {
						background-position: -12px -32px !important;
					}
					#rule-list-actions #edit-domains.edit-mode {
						background-position: -28px -32px;
					}
				#rule-list-actions #make-temp-perm {
					background-position: 4px -48px;
				}
					#rule-list-actions #make-temp-perm:active {
						background-position: -12px -48px;
					}
				#rule-list-actions #remove-all-temp {
					background-position: left -64px;
				}
					#rule-list-actions #remove-all-temp:active {
						background-position: -16px -64px;
					}
				#rule-list-actions #show-temporary-rules {
					background-position: 4px -80px;
				}
					#rule-list-actions #show-temporary-rules:active {
						background-position: -12px -80px !important;
					}
					#rule-list-actions #show-temporary-rules.using {
						background-position: -28px -80px
					}
				#rule-list-actions #show-active-rules {
					background-position: 4px -96px;
				}
					#rule-list-actions #show-active-rules:active {
						background-position: -12px -96px !important;
					}
					#rule-list-actions #show-active-rules.using {
						background-position: -28px -96px;
					}
				#rule-list-actions #time-machine {
					background-position: 4px -112px;
				}
					#rule-list-actions #time-machine:active {
						background-position: -12px -112px
					}
				#rule-list-actions #reload-rules {
					background-position: left -129px;
					position: absolute;
					right: 0;
				}
					#rule-list-actions #reload-rules:active {
						background-position: -16px -129px
					}

	.filter-bar ul li {
		float: left;
		margin: 0 2px 0 0;
		padding: 0 4px;
		-webkit-border-radius: 3px;
		border: 1px solid transparent;
		cursor: default;
		text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	}
		#rules-list .filter-bar ul li {
			color: #333;
		}
		#rules-list .filter-bar ul li.label {
			color: #999;
			padding: 0;
		}
		#rules-list .filter-bar:not(.actions-bar) ul li:not(.li-text-filter):not(.label).selected,
		#rules-list .filter-bar:not(.actions-bar) ul li:not(.li-text-filter):not(.label):active {
			text-shadow: none;
			color: #fff !important;
			background: rgba(0,0,0,0.1)
		}
		#rules-list .filter-bar:not(.actions-bar) ul li:not(.li-text-filter):not(.label):active {
			text-shadow: none;
			color: #fff !important;
			background: rgba(0,0,0,0.09)
		}

body.disabled .allowed-blocked-columns,
body.disabled #main .info-container,
body.disabled #page-list,
body.disabled #page-lists-label,
body.disabled #frame-switcher {
	display: none;
}

#find-bar {
	display: none;
	width: 558px;
	height: 16px;
	margin: 0;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 99999;
	box-shadow: 0 1px 5px rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
	body.simple #find-bar {
		width: 458px;
	}
	#find-bar #find-bar-search {
		width: 300px;
		margin-top: -2px;
		margin-right: 3px;
		margin-left: 5px;
		float: right;
	}
	#find-bar #find-bar-matches {
		float: right;
		font-size: 8pt;
	}
	#find-bar #find-bar-done {
		float: right;
		margin-top: -1px;
		margin-right: 2px;
		height: 18px;
		padding-top: 1px !important;
		padding-bottom: 1px !important;
	}
		body.windows #find-bar-done {
			padding-top: 0 !important;
			padding-bottom: 2px !important;
		}
	.find-scroll {
		position: fixed;
		right: 0;
		width: 4px;
		background: -webkit-linear-gradient(right, #FAFF00, #E0C200);
		height: 1px;
		z-index: 999;
		border: 1px solid #888;
		border-top: none;
		border-bottom: none;
		box-shadow: 0 -1px 0 rgba(0,0,0,0.2);
		opacity: 0.9;
	}
	mark {
		display: inline-block;
		padding: 0;
		background: -webkit-linear-gradient(top, #FAFF00, #E0C200);
		-webkit-border-radius: 4px;
		color: #3a3a3a;
		text-decoration: none;
		box-shadow: inset 0 0 4px #CFC004, inset 0 1px 0 rgba(0,0,0,0.2), inset 0 -1px 0 rgba(0,0,0,0.4), inset 0 -2px 0 rgba(0,0,0,0.1),
				inset 1px 0 0 rgba(0,0,0,0.3), inset -1px 0 0 rgba(0,0,0,0.3);
		white-space: pre;
	}
		mark.quick-add {
			text-shadow: 0 1px 0 rgba(0,0,0,0.5);
			background-image: none;
			color: #fbfbfb;
			padding: 0 3px 0 4px;
			box-shadow: 0 1px 0 rgba(0,0,0,0.55),
				inset 0 3px 0 rgba(255,255,255,0.12), inset 0 2px 0 rgba(255,255,255,0.22), inset 0 1px 0 rgba(0,0,0,0.27),
				inset 1px 0 0 rgba(0,0,0,0.28), inset -1px 0 0 rgba(0,0,0,0.25);
			box-shadow: none;
			border-radius: 3px;
		}
			.allowed-column mark.quick-add {
				background: #df253a;
			}
			.blocked-column mark.quick-add {
				background: #289013;
			}
#backup-export,
#backup-import,
#debug-info {
	margin-top: 1px;
	width: 400px;
	height: 120px;
}
	#debug-info {
		height: 110px;
	}
	#backup-import {
		height: 80px;
	}
	
#large-label {
	font-size: 9pt !important;
}

#hidden-extras {
	display: none;
	height: 0;
	width: 0;
}

.current-selection {
	background:  -webkit-linear-gradient(top, rgb(80,175,228), rgb(38,143,212)) !important;
	box-shadow: inset 0 1px 0 rgb(71,163,221), inset 0 2px rgb(91, 186, 232);
}
	.current-selection,
	.current-selection span,
	.current-selection a {
		color: #fff !important;
		text-shadow: 0 1px 0 rgba(0,0,0,0.4) !important;
	}

.jsoutput {
	min-height: 10px;
	min-width: 400px;
	margin: 0;
}
	.jsoutput .date {
		display: none;
		font-size: 6pt;
		color: #666;
	}
	.jsoutput .unread {
		background: rgba(255,255,0,0.2);
	}
	.jsoutput li {
		padding-top: 2px;
	}
	.jsoutput .divider {
		margin-top: 2px;
	}
	.jsoutput li:first-child {
		padding: 0;
	}
	.console-unread {
		display: none;
	}
.floater-next {
	position: relative;
}
.floater {
	position: absolute !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-bottom: 1px;
}
	.floater *:not(input) {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.floater .floater-divider {
		margin: 0 0 -2px;
		visibility: visible !important;
		display: block !important;
		-webkit-mask-image: none;
	}
	