.poppy {
	background: rgb(215,215,215) url(../images/texture.png) left top repeat;
	background-size: 98px 98px;
	border-color: #999;
}

#poppy-arrow-settings,
#poppy-arrow-settings-secondary,
#poppy-arrow-settings-secondary.flip,
#poppy-arrow-settings.flip {
	background-image: url(../images/texture.png);
	background-size: 98px 98px;
	background-color: rgb(215,215,215);
	border-color: #999;
}
