/***************************************
 * @file css/poppy.css
 * @author Travis Roman (travis@toggleable.com)
 * @package JavaScript Blocker (http://javascript-blocker.toggleable.com)
 ***************************************/

@-webkit-keyframes shake {
	0% { -webkit-transform: translateX(0); }
	14% { -webkit-transform: translateX(-13px); }
	28% { -webkit-transform: translateX(13px); }
	43% { -webkit-transform: translateX(-9px); }
	57% { -webkit-transform: translateX(9px); }
	71% { -webkit-transform: translateX(-7px); }
	86% { -webkit-transform: translateX(7px); }
	100% { -webkit-transform: translateX(0); }
}

@-webkit-keyframes unshake {
	0% { -webkit-transform: translateX(0); }
	14% { -webkit-transform: translateX(13px); }
	28% { -webkit-transform: translateX(-13px); }
	43% { -webkit-transform: translateX(9px); }
	57% { -webkit-transform: translateX(-9px); }
	71% { -webkit-transform: translateX(7px); }
	86% { -webkit-transform: translateX(-7px); }
	100% { -webkit-transform: translateX(0); }
}

#poppy-arrow-settings {
	height: 30px;
	width: 30px;
	border: 1px solid;
	background-color: rgba(244,244,244,.99);
	border-color: rgba(160,160,160,0.75);
}
	#poppy-arrow-settings.flip {
		background-color: rgba(255,255,255,.99);
	}
.poppy {
	position: absolute;
	padding: 8px 3px;
	-webkit-border-radius: 5px;
	z-index: 10000;
	background: -webkit-linear-gradient(top, rgba(255,255,255,.97), rgba(244,244,244,.97));
	border: 1px solid rgba(160,160,160,0.8);
	border-top-color: rgba(160,160,160,0.7);
	box-shadow: 0 3px 15px rgba(0,0,0,0.23);
	font-size: 8pt;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
	-webkit-transition-property: -webkit-transform, opacity;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 0s;
	-webkit-transform: scale(0);
	opacity: 0.25;
}
	#poppy-secondary {
		z-index: 10001;
	}
	.poppy.shake {
		-webkit-animation: shake 0.4s linear 0 1;
	}
	.poppy.shake.slow {
		-webkit-animation: shake 4s linear 0 1;
	}
	.poppy .poppy-arrow {
		pointer-events: none;
		position: absolute;
		height: 22px;
		width: 30px;
		background: -webkit-canvas(poppy-arrow);
	}
		.poppy .poppy-arrow.flip {
			background: -webkit-canvas(poppy-arrow-flip);
		}
		.poppy.shake .poppy-arrow {
			-webkit-animation: unshake 0.4s linear 0 1;
		}
			.poppy.shake.slow .poppy-arrow {
				-webkit-animation: unshake 4s linear 0 1;
			}
	.poppy.arrow-less .poppy-arrow {
		display: none;
	}
	.poppy .poppy-content {
		padding: 0 7px;
		max-height: 340px;
		max-width: 530px;
		overflow-y: scroll;
		overflow-x: auto;
	}
		body.simple .poppy .poppy-content {
			max-height: 290px;
			max-width: 430px;
		}
		.poppy .poppy-content::-webkit-scrollbar-track:vertical {
			border-left-color:  rgba(0,0,0,0.1);
			background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.07), rgba(0,0,0,0.01));
		}
	.poppy p {
		margin: 0 3px 3px 4px;
	}
	.poppy #rule-input,
	.rule-input {
		height: 16px;
		width: 460px;
		padding: 2px 3px 3px 3px;
		margin-right: 3px;
		margin-bottom: -7px;
		overflow-x: scroll;
		overflow-y: hidden;
		resize: none;
		display: inline-block;
	}
		.poppy #rule-proto-input {
			display: inline-block;
			width: 45px;
		}
			body.windows .poppy #rule-proto-input {
				float: left;
			}
		body.simple .poppy #rule-input {
			width: 300px;
		}
		body.windows .poppy #rule-input {
			float: left !important;
		}
		body.windows .poppy #rule-save {
			float: left !important;
		}
		.poppy #rule-input::-webkit-scrollbar,
		.rule-input::-webkit-scrollbar {
			height: 3px;
		}
		body.windows #rule-proto-input {
			height: 19px;
		}
		body.windows .rule-input,
		body.windows #rule-input {
			height: 18px;
			padding-top: 0;
		}
	.poppy .inputs {
		margin-top: 3px;
		float: right;
	}
	.poppy ul {
		margin-left: 5px;
	}
	.poppy ul li span {
		width: auto;
		max-width: 497px;
		white-space: nowrap;
	}
		body.simple .poppy ul li span {
			max-width: 397px;
		}
	.poppy p.misc-info {
		margin-bottom: 7px;
	}
	.poppy #rules-radios,
	.poppy #rules-temp {
		margin: 4px 0 2px;
	}
		.poppy #rules-temp {
			margin-left: 2px;
		}