/***************************************
 * @file css/poppy.css
 * @author Travis Roman (travis@toggleable.com)
 * @package JavaScript Blocker (http://javascript-blocker.toggleable.com)
 ***************************************/

#poppy-arrow-settings {
	height: 30px;
	width: 30px;
	border: 1px solid;
	background-color: rgba(239,239,239,.97);
	border-color: rgba(160,160,160,0.75);
}
#poppy {
	position: absolute;
	padding: 8px 3px;
	-webkit-border-radius: 5px;
	z-index: 10000;
	background: rgba(239,239,239,0.93);
	border: 1px solid rgba(160,160,160,0.8);
	-webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.2);
	font-size: 8pt;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
	-webkit-transition-property: -webkit-transform, opacity;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 0s;
	-webkit-transform: scale(0);
	opacity: 0.1;
}
	#poppy #poppy-arrow {
		pointer-events: none;
		position: absolute;
		height: 22px;
		width: 30px;
		background: -webkit-canvas(poppy-arrow);
	}
		#poppy #poppy-arrow.flip {
			background: -webkit-canvas(poppy-arrow-flip);
		}
	#poppy #poppy-content {
		padding: 0 7px;
		max-height: 200px;
		max-width: 520px;
		overflow: auto;
	}
		body.simple #poppy #poppy-content {
			max-height: 190px;
			max-width: 420px;
		}
	#poppy p {
		margin: 0 3px 3px 4px;
	}
	#poppy #rule-input {
		height: 17px;
		width: 460px;
		padding: 2px 3px 3px;
		margin-right: 3px;
		margin-bottom: -7px;
		overflow-x: scroll;
		overflow-y: hidden;
		resize: none;
	}
		body.simple #poppy #rule-input {
			width: 360px;
		}
		body.windows #poppy #rule-input {
			float: left !important;
		}
		body.windows #poppy #rule-save {
			float: left !important;
		}
		#poppy #rule-input::-webkit-scrollbar {
			height: 4px;
		}
	#poppy .inputs {
		margin-top: 3px;
		float: right;
	}
	#poppy ul li span {
		width: auto;
		max-width: 100%;
		white-space: wrap;
		
	}
	#poppy p.misc-info {
		margin-bottom: 7px;
	}
	#poppy #rules-radios,
	#poppy #rules-temp {
		margin: 4px 0 2px;
	}
		#poppy #rules-temp {
			margin-left: 2px;
		}