/***************************************
 * @file css/poppy.css
 * @author Travis Roman (travis@toggleable.com)
 * @project JavaScript Blocker (http://javascript-blocker.toggleable.com)
 * @version 1.2.5-2
 ***************************************/

#poppy {
	position: absolute;
	padding: 8px 3px;
	-webkit-border-radius: 5px;
	z-index: 10000;
	background: rgba(239,239,239,0.93);
	border: 1px solid rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.2);
	font-size: 8pt;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}
	#poppy #poppy-arrow {
		position: absolute;
		height: 22px;
		width: 30px;
		z-index: 10000;
		opacity: 0.95;
	}
	#poppy #poppy-content {
		padding: 0 7px;
		max-height: 150px;
		max-width: 420px;
		overflow: auto;
	}
	#poppy p {
		margin: 0 3px 3px 4px;
	}
	#poppy #rule-input {
		width: 330px;
		padding: 2px 3px 3px;
		margin-right: 3px;
	}
	#poppy .inputs {
		margin-top: 3px;
		float: right;
	}
	#poppy ul li span {
		width: auto;
		max-width: 100%;
		white-space: wrap;
		
	}
	#poppy p.misc-info {
		margin-bottom: 7px;
	}
	#poppy #rules-radios {
		margin: 4px 0 2px;
	}