body {
	font: -webkit-control;
	font-size: 8pt;
}
	body.large {
		font-size: 10pt;
	}

* {
	margin: 0;
	padding: 0;
}

#container {
	margin: 5px auto 20px;
	position: relative;
	width: 645px;
	background: #E8E8E8;
	box-shadow: 0 12px 30px rgba(0,0,0,0.4);
	border: 1px solid rgba(0,0,0,0.15);
	border-left-color: rgba(0,0,0,0.23);
	border-right-color: rgba(0,0,0,0.23);
	border-bottom-color: rgba(0,0,0,0.33);
	-webkit-border-radius: 5px;
	padding: 11px 10px 2px;
	-webkit-transition: height 0.17s;
	overflow: hidden;
}
	#container.no-transition {
		-webkit-transition: none !important;
	}

#content {
	overflow: hidden;
	height: 100%;
	position: relative;
	padding-top: 17px;
}

#toolbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url(../images/texture.png), -webkit-linear-gradient(top, #DDD, #B0AFB0);
	background-size: 97px 98px, auto auto;
	height: 23px;
	border-bottom: 1px solid #606060;
	text-shadow: 0 1px 0 rgba(255,255,255,0.55);
	color: #3A3A3A;
	overflow: hidden;
}
	#toolbar li {
		position: relative;
		padding: 5px 3px 0;
		float: left;
		list-style-type: none;
		-webkit-user-select: none;
		cursor: default;
		height: 18px;
		color: #414141;
	}
		body.large #toolbar li {
			padding-top: 4px;
			height: 21px;
		}
		#toolbar li:first-child {
			margin-left: 5px;
		}
		#toolbar li:active {
			color: #333;
			text-shadow: none;
		}
		#toolbar #for-close {
			width: 12px;
			padding: 0;
			margin-left: 6px;
			margin-top: 1px;
			margin-right: 6px;
			background: url(../images/settings-close.png) no-repeat left 4px;
			background-size: 36px 13px;
		}
			#toolbar #for-close:hover {
				background-position: -12px 4px;
			}
			#toolbar #for-close:active {
				background-position: -24px 4px;
			}
		#toolbar li#for-about {
			float: right;
			margin-right: 5px;
		}
		#toolbar li#for-search {
			float: right;
		}
		#toolbar li.selected {
			background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0) 3%, rgba(0,0,0,0.11) 35%, rgba(0,0,0,0.11) 50%, rgba(0,0,0,0.02));
		}
			#toolbar li .left,
			#toolbar li .right {
				visibility: hidden;
				position: relative;
				margin-right: 2px;
				top: -5px;
				left: -3px;
				float: left;
				margin: 0;
				height: 22px;
				width: 2px;
				background: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
				-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0) 12%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 55%, rgba(0,0,0,0));
			}
			#toolbar li .right {
				float: right;
				left: auto;
				right: -3px;
				background: -webkit-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0));
			}
			#toolbar li.selected .left,
			#toolbar li.selected .right {
				visibility: visible;
			}
.divider {
	width: 80%;
	margin: 16px auto 16px;
	height: 1px;
	background: rgba(0,0,0,0.17);
	border-bottom: 1px solid rgba(255,255,255,0.75);
	-webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1) 40%, rgba(0,0,0,1) 60%, rgba(0,0,0,0));
	clear: both;
}
input,
select,
button,
textarea {
	background: -webkit-linear-gradient(top, #fff, #fff 43%, rgb(252,252,252) 43%, rgb(243,243,243) 60%, rgb(239,239,239));
	border: 1px solid #9A9A9A;
	-webkit-border-radius: 4px;
	color: #000;
	box-shadow: inset 0 -1px 0 rgb(242,242,242), 0 1px 0 rgba(0,0,0,0.07);
	padding: 2px 7px 3px;
	text-shadow: none;
}
	input:focus, select:focus, button:focus, textarea:focus {
		outline: none !important;
		box-shadow: 0 0 4px rgb(20, 158, 255), inset 0 0 3px rgb(20, 158, 255) !important;
	}
	input[type="button"]:active,
	button:active {
		border-left-color: rgb(73, 80, 147) !important;
		border-right-color: rgb(73, 80, 147) !important;
		border-top-color: rgb(78, 88, 167) !important;
		border-bottom-color: rgb(69, 72, 112) !important;
		color: #000 !important;
		text-shadow: none;
		background: -webkit-linear-gradient(top, rgb(161,194,235), rgb(99,163,227) 50%, rgb(63,149,226) 51%, rgb(168,212,235));
		box-shadow: inset 0 1px 0 rgb(183,213,236), 0 1px 0 rgba(0,0,0,0.09);
	}
	input[type="text"],
	input[type="search"],
	input[type="number"],
	textarea {
		border: 1px solid #A4A4A4;
		background: -webkit-linear-gradient(top, #f3f3f3, #FbFbFb);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,0.1);
	}
	input[type="button"] {
		width: 108px;
	}
	input[type="search"] {
		width: 150px;
		padding: 2px;
		-webkit-appearance: none;
		-webkit-border-radius: 10px;
		margin-top: -3px;
	}
		body.windows input[type="search"] {
			padding-top: 1px;
		}
	@-webkit-keyframes redPulseLion {
		0% {
			background-color: rgba(240,50,0,0.8);
			box-shadow: 0 0 4px rgba(255,0,0,1);
		}
		100% {
			background-color: rgba(190,30,0,0.8);
			box-shadow: 0 0 1px rgba(255,0,0,0.8);
		}
	}
	input[type="button"].confirm-click,
	button.confirm-click {
		color: #fff;
		border: 1px solid #883A3D !important;
		background-image: -webkit-linear-gradient(top, rgba(240,50,0,0.3), rgba(190,30,0,1));
		background-color: rgba(240,50,0,0.7);
		text-shadow: 0 1px 0 rgba(0,0,0,0.2);
		box-shadow: 0 0 1px rgba(255,0,0,0.5);
		-webkit-animation: redPulseLion 0.5s ease-in 0 infinite alternate;
	}
		input[type="button"].confirm-click:active,
		button.confirm-click:active {
			color: #eee !important;
			background-image: -webkit-linear-gradient(top, rgb(190,30,0), rgb(240,50,0));
		}
select {
	position: relative;
	width: 203px;
	-webkit-appearance: button;
	-webkit-border-radius: 4px;
	padding: 2px 18px 2px 8px;
	background: url(../images/select-arrows.png) no-repeat right 1px, -webkit-linear-gradient(top, rgb(255,255,255), rgb(255,255,255) 43%, rgb(252,252,252) 43%, rgb(243,243,243) 60%, rgb(239,239,239));
	background-size: 20px 16px, auto auto;
}
	body.large select,
	body.windows select {
		top: 0;
	}
	select:active {
		background: url(../images/select-arrows.png) no-repeat right 1px, -webkit-linear-gradient(top, rgb(235,235,235), rgb(235,235,235) 43%, rgb(232,232,232) 43%, rgb(223,223,223) 60%, rgb(219,219,219));
		background-size: 20px 16px, auto auto;
	}
section {
	display: none;
	font-size: 13px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	width: 100%;
}
	body.large section {
		font-size: 15px;
	}
	section.active {
		display: block;
	}
	section select {
		font-size: 12px;
	}
		body.large select {
			font-size: 14px;
		}
	section li {
		list-style-type: none;
		position: relative;
		clear: both;
		margin-bottom: 8px;
	}
 	section li .label {
		min-height: 1px;
		margin-top: 1px;
		margin-right: 22px;
		width: 252px;
		float: left;
		text-align: right;
	}
		section li > div {
			position: relative;
			height: 100%;
		}
		section li.description {
			padding: 5px 15px;
		}
		section li.indent {
			padding-left: 16px;
		}
		section li.extras {
			margin-bottom: 6px;
			margin-top: -10px;
			color: rgba(0,0,0,0.2);
			font-size: 15px;
			font-weight: bold;
			text-shadow: 0 1px 1px #fff, 0 0 0 rgba(0,0,0,0.27), 0 0 1px #fff;
		}
			body.large section li.extras .label {
				font-size: 16px;
			}
	section li .setting {
		float: left;
		max-width: 346px;
		text-indent: -16px;
	}
		section li .setting .aside {
			color: #999;
			text-shadow: 0 1px 0 rgba(255,255,255,0.7);
			font-size: 8pt;
		}
			body.large section li .setting .aside {
				font-size: 9pt;
			}
	section li.disabled {
		opacity: 0.4;
	}
	section li input[disabled] {
		pointer-events: none;
	}
	section li .help {
		float: right;
	}
	section li .help {
		background-image: -webkit-linear-gradient(top, #eee, #ddd);
		border: 1px solid #b4b4b4;
		box-shadow: 0 1px 0 #fff, inset 0 8px 0 rgba(255,255,255,0.32), inset 0 6px 0 rgba(255,255,255,0.52);
		padding: 1px 2px 0 3px;
		display: inline-block;
		-webkit-border-radius: 20px;
		height: 15px;
		width: 11px;
		text-align: center;
		font-size: 9pt;
		margin-left: 5px;
		text-shadow: 0 1px 0 #fff;
		cursor: default;
		color: #333;
		font-weight: bold;
		-webkit-user-select: none;
	}
		section li .help:active {
			border-color: #aaa;
			background-image: -webkit-linear-gradient(top, #ddd, #ccc);
			box-shadow: 0 1px 0 #fff, inset 0 8px 0 rgba(255,255,255,0.15), inset 0 6px 0 rgba(255,255,255,0.45);
		}
	section p {
		margin-bottom: 5px;
	}
	section span.label-after {
		margin-left: 7px;
	}
	
input[type="checkbox"] {
	position: relative;
	top: -1px;
}
input[type="checkbox"] ~ label {
	margin-bottom: -3px;
}
a {
	text-decoration: none;
	color: #0064E3;
	cursor: pointer;
}
	a:hover {
		color: #0B37B4;
		text-shadow: 0 1px 0 #fff;
	}
#requirements {
	display: block;
}