<!--
/***************************************
 * @file global.html
 * @author Travis Roman (travis@toggleable.com)
 * @package JavaScript Blocker (http://javascript-blocker.toggleable.com)
 ***************************************/
-->

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		
		<title>JavaScript Blocker</title>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script src="js/beautify.min.js"></script>
		<script src="i18n/i18n.js"></script>
		<script src="i18n/en-us.js"></script>
		<script src="js/poppy.js"></script>
		<script src="js/global.js"></script>
		<script src="js/poppies.js"></script>
		<script src="js/predefined.js"></script>

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				JB.load_language();
			});

			window.addEventListener('message', function (event) {
				if (event.source === window && event.data === 'zero-timeout') {
					event.stopPropagation();
					if (JB.utils._zero_timeouts.length) {
						var o = JB.utils._zero_timeouts.shift();
						if (typeof o[0] === 'function')
							o[0].apply(JB, o[1]);
					}
				}
			}, true);
			
			safari.application.addEventListener('close', $.proxy(JB.open_popover, JB), true);
			safari.application.addEventListener('beforeNavigate', $.proxy(JB.open_popover, JB), true);
			safari.application.addEventListener('beforeNavigate', $.proxy(JB.anonymize, JB), true);
			safari.application.addEventListener('popover', $.proxy(JB.open_popover, JB), true);
			safari.application.addEventListener('validate', $.proxy(JB.validate, JB), false);
			safari.application.addEventListener('message', $.proxy(JB.handle_message, JB), true);
			safari.extension.settings.addEventListener('change', $.proxy(JB.setting_changed, JB), true);
		</script>
	</head>
	<body>
		<textarea id="tmpl_domain_picker">
			<% if (!self.no_label) { %><label for="domain-picker"><%=_('On:')%> </label><% } %>
			<select id="domain-picker">
			<%
				var n;
				for (n = 0; n < self.page_parts.length; n++) {
					if (self.page_parts[n] === null || (self.no_all && n === self.page_parts.length - 1)) continue; %>
					<option value="<%=((n === 0 ? '' : '.') + self.page_parts[n])%>"><%=(self.page_parts[n] === '*' ? _('All Domains') : ((n > 0 ? '.' : '') + self.page_parts[n]))%></option>
			<% } %>
			</select>
		</textarea>
		
		<textarea id="tmpl_rule_wrapper">
			<header id="head-<%=self.kind%>-rules" class="rules-header">
				<h3 id="<%=self.kind%>-rules"><%=self.local%></h3>
				<a id="toggle-<%=self.kind%>-rules" class="toggle-rules"><%=_('Hide')%></a>
				<br style="clear:both;" />
			</header>
			<div style="overflow:hidden;">
				<ul id="rules-list-<%=self.kind%>s" class="rules-wrapper"></ul>
			</div>
		</textarea>
	</body>
</html>