<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.toggleable.JavaScriptBlocker</string>
       <key>Developer Identifier</key>
       <string>6S8J5HV3H4</string>
       <key>CFBundleVersion</key>
       <string>220</string>
       <key>CFBundleShortVersionString</key>
       <string>1.2.4</string>
       <key>URL</key>
       <string>http://cloud.github.com/downloads/infernoboy/JavaScript-Blocker/JS Blocker.safariextz</string>
     </dict>
   </array>
</dict>
</plist>