<!--
/***************************************
 * @file popover.html
 * @author Travis Roman (travis@toggleable.com)
 * @package JavaScript Blocker (http://javascript-blocker.toggleable.com)
 ***************************************/
-->

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<title></title>
		
	<link rel="stylesheet" href="css/poppy.css" type="text/css" id="poppy-style" />
	<link rel="stylesheet" href="" type="text/css" id="poppy-theme-style" />
	<link rel="stylesheet" href="css/main.css" type="text/css" id="main-style"/>
	<link rel="stylesheet" href="" type="text/css" id="main-theme-style"/>
	<link rel="stylesheet" href="" type="text/css" id="main-large-style"/>
	<link rel="stylesheet" href="css/highlight.css" />
	
	<script src="js/highlight.js"></script>
	<script src="js/safari.js"></script>
	<script src="js/chrome.js"></script>
	<script src="js/popover.js"></script>
</head>

<body class="blocking-mode">
	<div id="modal">
		<header class="main-header"><h1 data-i18n="JavaScript Blocker"><span class="console-unread"> 0</span></h1></header>
	</div>
	
	<header class="main-header"><h1 data-i18n="JavaScript Blocker"><span class="console-unread"> 0</span></h1></header>
	
	<div id="container">
		<div id="find-bar">
			<input type="button" id="find-bar-done" value=" " data-i18n="Done" />
			<input type="search" id="find-bar-search" incremental="incremental" results="10" autosave="find_on" />
			<label for="find-bar-search" id="find-bar-matches"></label>
		</div>
		<div id="main" class="whoop">
			<div id="disabled" class="embossed">
				<p data-i18n="JavaScript Blocker is disabled."></p>
			</div>

			<div class="filter-bar actions-bar">
				<ul>
					<li id="unlock" data-i18n="Unlock"></li>
					<li id="disable" data-i18n="Disable JavaScript Blocker" class="divider"></li>
					<li id="js-help" data-i18n="Help" class="divider"></li>
					<li id="js-settings" data-i18n="Settings" class="divider"></li>
					<li id="view-rules" data-i18n="Rules" class="divider"></li>
					<li id="toggle-hidden" data-i18n="Show Hidden" class="divider"></li>
					<li id="jsblocker-name"><span data-i18n="JavaScript Blocker"></span> <div class="console-unread"> 0</div></li>
				</ul>
				<br style="clear:both;" />
			</div>

			<p class="misc-info snapshot-info"></p>
	
			<div id="page-lists">
				<label id="page-lists-label" data-i18n="Page:"></label>
				<select id="page-list">
					<optgroup label="Main Page" data-i18n="Main Page">
						<option>http://javascript-blocker.toggleable.com</option>
					</optgroup>
					<optgroup label="Inline Frame Pages" data-i18n="Inline Frame Pages">
						<option>http://example.com</option>
					</optgroup>
				</select>
				<div id="frame-switcher">
					<a href="javascript:void(0)" id="previous-frame" class="disabled"><span class="arrow"></span> <span class="text" data-i18n="Main page"></span></a>
					<div class="divider disabled"></div>
					<a href="javascript:void(0)" id="next-frame" class="disabled"><span class="arrow"></span> <span class="text" data-i18n="Next frame"></span></a>
				</div>
			</div>
			
			<div id="allowed-blocked-columns">
				<div id="allowed-column" class="column">
					<div class="info-container" id="allowed-container">
						<label class="allowed-label" data-i18n="Allowed:"></label> <span id="allowed-scripts-count">0</span>
						<input type="button" value=" " id="block-domain" data-i18n="Block…" />
					</div>
	
					<div id="allowed-script-urls" class="urls-wrapper">
						<div class="urls-inner"></div>
					</div>
				</div>
								
				<div id="blocked-column" class="column">
					<div class="info-container" id="blocked-container">
						<label class="blocked-label" data-i18n="Blocked:"></label> <span id="blocked-scripts-count">0</span>
						<input type="button" value=" " id="allow-domain" data-i18n="Allow…" />
					</div>
	
					<div id="blocked-script-urls" class="urls-wrapper">
						<div class="urls-inner"></div>
					</div>
				</div>
				
				<br style="clear:both;" />
			</div>
			
			<div class="info-container" id="unblocked-container">
				<label class="unblocked-label" data-i18n="Unblocked:"></label> <span id="unblocked-scripts-count">0</span>
			</div>
	
			<div id="unblocked-script-urls" class="urls-wrapper">
				<div class="urls-inner"></div>
			</div>
		</div>
		<div id="rules-list" class="whoop">
			<div class="info-container">
				<p class="misc-info" id="rule-counter" data-i18n="{1} domains, {2} rules"></p>
				<p class="misc-info snapshot-info"></p>
				<input type="button" value=" " id="rules-list-back" data-i18n="Close Rules List" />
			</div>
			<div id="data">
				<div id="rules-filter-bar" class="filter-bar">
					<ul id="filter-type-collapse">
						<li class="label" data-i18n="Visibility:"></li>
						<li id="filter-all" class="selected" data-i18n="Any"></li>
						<li id="filter-collapsed" data-i18n="Collapsed"></li>
						<li id="filter-expanded" data-i18n="Expanded"></li>
					</ul>
					<div class="divider"></div>
					<ul id="filter-type-state">
						<li class="label" data-i18n="State:"></li>
						<li id="filter-state-all" class="selected" data-i18n="Any"></li>
						<li id="filter-enabled" data-i18n="Enabled"></li>
						<li id="filter-disabled" data-i18n="Disabled"></li>
						<li id="filter-temporary" data-i18n="Temporary"></li>
					</ul>
					<div class="divider"></div>
					<ul id="filter-type-domain">
						<li class="label" data-i18n="Filter:"></li>
						<li id="li-domain-filter" class="li-text-filter">
							<input type="search" placeholder="Domains" data-i18n="Domains" incremental="incremental" results="10" autosave="domain_filter" id="domain-filter" class="text-filter" />
							<br style="clear:both;" />
						</li>
					</ul>
					<br style="clear:both;" />
				</div>
				<div id="rules-actions-bar" class="filter-bar actions-bar">
					<ul id="rule-list-actions">
						<li id="collapse-all" title=" " data-i18n="Collapse All"></li>
						<li id="expand-all" title=" " data-i18n="Expand All"></li>
						<li id="show-active-rules" class="divider" title=" " data-i18n="Show Active"></li>
						<li id="edit-domains" class="divider" title=" " data-i18n="Edit"></li>
						<li id="make-temp-perm" class="divider" title=" " data-i18n="Make Temporary Rules Permanent"></li>
						<li id="remove-all-temp" title=" " data-i18n="Remove Temporary Rules"></li>
						<li id="reinstall-pre" class="divider" title=" " data-i18n="Reinstall Whitelist and Blacklist"></li>
						<li id="time-machine" class="divider" title=" " data-i18n="Snapshots"></li>
					</ul>
					<br style="clear:both;" />
				</div>

				<div id="rule-container"></div>
			</div>
		</div>
		<div id="misc" class="whoop">
			<div class="info-container">
				<p class="misc-header"></p>
				<input type="button" value=" " id="misc-close" data-i18n="Close" />
			</div>
			<div id="misc-content"></div>
		</div>
		<div id="snapshots" class="whoop">
			<div class="info-container">
				<p class="misc-info" data-i18n="Snapshots"></p>
				<input id="close-snapshots" value=" " type="button" data-i18n="Close Snapshots" />
				<input id="create-snapshot" value=" " type="button" data-i18n="Create Snapshot" />
			</div>

			<p id="snapshots-info"></p>
			<ul id="current-snapshots">
				<li id="kept-snapshots">
					<header id="head-kept-snapshots" class="snapshots-header">
						<h3 id="kept-snapshots-header" data-i18n="Kept"></h3>
						<a id="toggle-kept-snapshots" class="toggle-snapshots" data-i18n="Hide"></a>
						<br style="clear:both;" />
					</header>
				</li>

				<li id="snapshots-list-kept-container" class="snapshots-list-container">
					<ul id="snapshots-list-kept" class="snapshots-wrapper"></ul>
				</li>

				<li id="unkept-snapshots">
					<header id="head-unkept-snapshots" class="snapshots-header">
						<h3 id="unkept-snapshots-header" data-i18n="Unkept"></h3>
						<a id="toggle-unkept-snapshots" class="toggle-snapshots" data-i18n="Hide"></a>
						<br style="clear:both;" />
					</header>
				</li>

				<li id="snapshots-list-unkept-container" class="snapshots-list-container">
					<ul id="snapshots-list-unkept" class="snapshots-wrapper"></ul>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="hidden-extras">
		<ul id="jsconsolelogger"><li id="console-header"><p class="misc-info">Console</p></li></ul>
		<textarea id="tmpl_domain_picker">
			<% if (!self.no_label) { %><label for="domain-picker<%=('id' in self ? '-' + self.id : '')%>"><%=_('On:')%> </label><% } %>
			<select class="domain-picker" id="domain-picker<%=('id' in self ? '-' + self.id : '')%>" <% if ((self.page_parts.length === 2 && self.no_all) || (self.page_parts[0] === null && !self.no_all)) { %>class="single"<% } %>>
			<%
				var n;
				for (n = 0; n < self.page_parts.length; n++) {
					if (self.page_parts[n] === null || (self.no_all && n === self.page_parts.length - 1)) continue; %>
					<option value="<%=((n === 0 ? '' : '.') + self.page_parts[n])%>"><%=(self.page_parts[n] === '*' ? _('All Domains') : ((n > 0 ? '.' : '') + JB.utils.escape_html(self.page_parts[n])))%></option>
			<% } 
				if (self.show_other) { %>
					<option value="custom.other"><%=_('Other…')%></option>
			<% } %>
			</select>
		</textarea>
		
		<textarea id="tmpl_rule_wrapper">
			<header id="head-<%=self.kind%>-rules" class="rules-header">
				<h3 id="<%=self.kind%>-rules"><%=self.local%></h3>
				<a id="toggle-<%=self.kind%>-rules" class="toggle-rules"><%=_('Hide')%></a>
				<br style="clear:both;" />
			</header>
			<div id="rules-list-<%=self.kind%>-container" class="rules-list-container" style="overflow:hidden;">
				<ul id="rules-list-<%=self.kind%>s" class="rules-wrapper"></ul>
			</div>
		</textarea>
		
		<textarea id="tmpl_main_wrapper">
			<header id="head-<%=self.which%>-<%=self.kind%>" class="kind-header visible">
				<h3 id="<%=self.which%>-<%=self.kind%>-items"><%=self.local%></h3>
				<a id="toggle-<%=self.kind%>-<%=self.which%>-items" class="toggle-main">Hide</a>
				<br style="clear:both;" />
			</header>
			<div id="<%=self.which%>-items-<%=self.kind%>-container" class="item-list-container" style="overflow:hidden;">
				<ul id="<%=self.which%>-items-<%=self.kind%>" class="main-wrapper"></ul>
			</div>
		</textarea>

		<textarea id="tmpl_rule_item">
			<li>
				<div class="bubble bubble-<%=[self.rtype, self.temp ? 'temporary' : ''].join(' ')%>"><div class="inner-bubble"></div></div>
				<span class="<%=Settings.getItem('traverseRulesRules') ? 'selectable' : ''%> rule type-<%=[self.rtype, self.temp ? 'temporary' : ''].join(' ')%>"><%=self.text%></span>
				<input type="button" value="<%=self.button%>" />
				<div class="divider"></div>
			</li>
		</textarea>
		
		<div id="poppy-arrow-settings"></div>
		<div id="select-arrow-settings"></div>
	</div>
</body>
</html>