<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>setupDone</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>User Interface</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>largeFont</string>
		<key>Title</key>
		<string>Use large font</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>animations</string>
		<key>Title</key>
		<string>Use animations</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>showUnblocked</string>
		<key>Title</key>
		<string>Show unblockable scripts</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>showPerHost</string>
		<key>Title</key>
		<string>Show number of scripts for each host</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Automatic</string>
		<key>Key</key>
		<string>language</string>
		<key>Title</key>
		<string>Language/Langue/Sprache</string>
		<key>Titles</key>
		<array>
			<string>Automatic</string>
			<string>US English</string>
			<string>Française (Partiel)</string>
			<string>Deutsch</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>Automatic</string>
			<string>en-us</string>
			<string>fr-fr</string>
			<string>de-de</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>3</real>
		<key>Key</key>
		<string>sourceCount</string>
		<key>Title</key>
		<string>Sources displayed by default</string>
		<key>Titles</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>All of them</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
			<real>4</real>
			<real>5</real>
			<real>99999999</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>blocked</string>
		<key>Key</key>
		<string>toolbarDisplay</string>
		<key>Title</key>
		<string>Toolbar badge shows number of</string>
		<key>Titles</key>
		<array>
			<string>Blocked scripts or hosts</string>
			<string>Allowed scripts or hosts</string>
			<string>Neither</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>blocked</string>
			<string>allowed</string>
			<string>neither</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Predefined Rules</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>ignoreWhitelist</string>
		<key>Title</key>
		<string>Ignore whitelist rules</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>ignoreBlacklist</string>
		<key>Title</key>
		<string>Ignore blacklist rules</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>domain</string>
		<key>Key</key>
		<string>alwaysBlock</string>
		<key>Title</key>
		<string>Automatically block scripts from</string>
		<key>Titles</key>
		<array>
			<string>Different hosts &amp; subdomains</string>
			<string>Different hostnames</string>
			<string>Nowhere</string>
			<string>Anywhere</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>topLevel</string>
			<string>domain</string>
			<string>nowhere</string>
			<string>everywhere</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>allowExtensions</string>
		<key>Title</key>
		<string>Allow scripts that use the "safari-extension" protocol</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>secureOnly</string>
		<key>Title</key>
		<string>Scripts on secure sites must also be secure</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>simpleReferrer</string>
		<key>Title</key>
		<string>Enable simple referrer blocking—adds rel="noreferrer" to links</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Donator-Only Features</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>default</string>
		<key>Key</key>
		<string>theme</string>
		<key>Title</key>
		<string>Theme</string>
		<key>Titles</key>
		<array>
			<string>Default</string>
			<string>Textured Metal</string>
			<string>OS X Lion</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>default</string>
			<string>metal</string>
			<string>lion</string>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>FalseValue</key>
		<true/>
		<key>Key</key>
		<string>simpleMode</string>
		<key>Title</key>
		<string>Enable expert features—allows for blocking individual scripts</string>
		<key>TrueValue</key>
		<false/>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>saveAutomatic</string>
		<key>Title</key>
		<string>Create rules for automatic actions (excluding "Nowhere")</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>blockReferrer</string>
		<key>Title</key>
		<string>EXPERIMENTAL: Enable full referrer blocking. Please note that this will only work on GET request in the main window. Inline frames will not have the referrer headers blocked due to a limitation of Safari; you can enable simple referrer blocking to help block at least some. This setting may cause a loop when trying to navigate back/forward.</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>otherFeatures</string>
		<key>Title</key>
		<string>Other donator-only features</string>
		<key>Titles</key>
		<array>
			<string>Create temporary rules</string>
			<string>Create a backup of rules</string>
			<string>Edit rules from the rule list</string>
			<string>Double click host for more info</string>
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<string>temp</string>
			<string>backup</string>
			<string>edit</string>
			<string>double</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>donated</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>donationVerified</string>
		<key>Secure</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>installID</string>
		<key>Secure</key>
		<true/>
	</dict>
</array>
</plist>
