<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>setupDone</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>allowMode</string>
		<key>Title</key>
		<string>Allow scripts unless explicitly blocked (Allowing Mode)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>toolbarAllowed</string>
		<key>Title</key>
		<string>Toolbar badge displays number of allowed scripts</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
