<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>setupDone</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>allowMode</string>
		<key>Title</key>
		<string>Allow scripts unless explicitly blocked</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Toolbar Badge</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>blocked</string>
		<key>Key</key>
		<string>toolbarDisplay</string>
		<key>Title</key>
		<string>Display number of</string>
		<key>Titles</key>
		<array>
			<string>Blocked scripts</string>
			<string>Allowed &amp; Unblocked scripts</string>
			<string>Neither</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>blocked</string>
			<string>allowed</string>
			<string>neither</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Predefined Rules</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>ignoreWhitelist</string>
		<key>Title</key>
		<string>Ignore Whitelist Rules</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>ignoreBlacklist</string>
		<key>Title</key>
		<string>Ignore Blacklist Rules</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Automatic Rules</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>nowhere</string>
		<key>Key</key>
		<string>alwaysBlock</string>
		<key>Title</key>
		<string>When allowing, block scripts from</string>
		<key>Titles</key>
		<array>
			<string>Different sub domains</string>
			<string>Different hostnames</string>
			<string>Nowhere</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>topLevel</string>
			<string>domain</string>
			<string>nowhere</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>nowhere</string>
		<key>Key</key>
		<string>alwaysAllow</string>
		<key>Title</key>
		<string>When blocking, allow scripts from</string>
		<key>Titles</key>
		<array>
			<string>Any sub domain</string>
			<string>Same hostname</string>
			<string>Nowhere</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>topLevel</string>
			<string>domain</string>
			<string>nowhere</string>
		</array>
	</dict>
</array>
</plist>
