#page-lists > label {
	max-width: 10%;
}
#page-list {
	max-width: 90%;
}
	body.simple #page-list {
		max-width: 87%;
	}
ul li span {
	max-width: 83%;
}
	body.simple ul li span {
		max-width: 80%;
	}
ul li input[type="button"] {
	width: 16%;
}
	body.simple ul li input[type="button"] {
		width: 20%;
	}

body.simple #domain-script {
	max-width: 180px;
}

body.simple .filter-bar ul li {
	margin-right: 0;
	padding: 0 3px;
}