#page-lists > label {
	max-width: 10%;
}
#page-list {
	max-width: 89%;
}
	body.simple #page-list {
		max-width: 86%;
	}
ul li span {
	max-width: 81%;
}
	body.simple ul li span {
		max-width: 78%;
	}
ul li input[type="button"] {
	width: 17%;
	max-width: 17%;
}
	body.simple ul li input[type="button"] {
		width: 21%;
		max-width: 21%;
	}

body.simple #domain-script {
	max-width: 180px;
}

#poppy #rule-input {
	width: 340px;
}
	body.simple #poppy #rule-input {
		width: 240px;
	}
	
#donation-id {
	width: 115px;
}

p.misc-header {
	width: 258px;
	margin-left: 70px;
}
	body.simple p.misc-header {
		width: 158px;
	}